---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?cx=DUMMY_CX&key=DUMMY_API_KEY&num=10&q=books
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"LXj_4NvXMsBuBj8xNRXBhULBOPo/gICCjBJk8zfraPhwFfSYwpHaKAM"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ! "{\n \"kind\": \"customsearch#search\",\n \"url\": {\n  \"type\":
        \"application/json\",\n  \"template\": \"https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&cref={cref?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json\"\n
        },\n \"queries\": {\n  \"nextPage\": [\n   {\n    \"title\": \"Google Custom
        Search - books\",\n    \"totalResults\": \"6950\",\n    \"searchTerms\": \"books\",\n
        \   \"count\": 10,\n    \"startIndex\": 11,\n    \"inputEncoding\": \"utf8\",\n
        \   \"outputEncoding\": \"utf8\",\n    \"safe\": \"off\",\n    \"cx\": \"DUMMY_CX\"\n
        \  }\n  ],\n  \"request\": [\n   {\n    \"title\": \"Google Custom Search
        - books\",\n    \"totalResults\": \"6950\",\n    \"searchTerms\": \"books\",\n
        \   \"count\": 10,\n    \"startIndex\": 1,\n    \"inputEncoding\": \"utf8\",\n
        \   \"outputEncoding\": \"utf8\",\n    \"safe\": \"off\",\n    \"cx\": \"DUMMY_CX\"\n
        \  }\n  ]\n },\n \"context\": {\n  \"title\": \"JHU Libraries test\"\n },\n
        \"searchInformation\": {\n  \"searchTime\": 0.262793,\n  \"formattedSearchTime\":
        \"0.26\",\n  \"totalResults\": \"6950\",\n  \"formattedTotalResults\": \"6,950\"\n
        },\n \"items\": [\n  {\n   \"kind\": \"customsearch#result\",\n   \"title\":
        \"Rare Books and Manuscripts\",\n   \"htmlTitle\": \"Rare \\u003cb\\u003eBooks\\u003c/b\\u003e
        and Manuscripts\",\n   \"link\": \"http://www.library.jhu.edu/collections/specialcollections/index.html\",\n
        \  \"displayLink\": \"www.library.jhu.edu\",\n   \"snippet\": \"Main page
        for the Special Collections Department of Archives, Manuscripts and   Rare
        Books.\",\n   \"htmlSnippet\": \"Main page for the Special Collections Department
        of Archives, Manuscripts and \\u003cbr\\u003e  Rare \\u003cb\\u003eBooks\\u003c/b\\u003e.\",\n
        \  \"cacheId\": \"2KLFAzsCxMsJ\",\n   \"formattedUrl\": \"www.library.jhu.edu/collections/specialcollections/index.html\",\n
        \  \"htmlFormattedUrl\": \"www.library.jhu.edu/collections/specialcollections/index.html\",\n
        \  \"pagemap\": {\n    \"cse_image\": [\n     {\n      \"src\": \"http://old.library.jhu.edu/sebin/t/t/gpl_library_smaller.jpg\"\n
        \    }\n    ],\n    \"cse_thumbnail\": [\n     {\n      \"width\": \"200\",\n
        \     \"height\": \"252\",\n      \"src\": \"https://encrypted-tbn0.google.com/images?q=tbn:ANd9GcTgARgvj5T5jta3XN9ZLZzd30pqVZetCQ-JM-AHnXp_BEvMvJjA6WiYJjSB\"\n
        \    }\n    ],\n    \"metatags\": [\n     {\n      \"author\": \"Holly Callahan\",\n
        \     \"date\": \"2011-11-28T16:17:48-04:00\",\n      \"title\": \"Home\"\n
        \    }\n    ]\n   }\n  },\n  {\n   \"kind\": \"customsearch#result\",\n   \"title\":
        \"JHSearch: Safari Books Online\",\n   \"htmlTitle\": \"JHSearch: Safari \\u003cb\\u003eBooks\\u003c/b\\u003e
        Online\",\n   \"link\": \"http://jhsearch.library.jhu.edu/databases/database/JHU03821\",\n
        \  \"displayLink\": \"jhsearch.library.jhu.edu\",\n   \"snippet\": \"Safari
        Books Online is a joint venture of O'[...]
