---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?cx=DUMMY_CX&key=DUMMY_API_KEY&num=10&q=%22adfa%20lakjdr%20xavier%20aldkfj%2092323kjadf%22
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"LXj_4NvXMsBuBj8xNRXBhULBOPo/W6k8nbDP-T9StSHXQg5D9u2ieE8"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n \"kind\": \"customsearch#search\",\n \"url\": {\n  \"type\":
        \"application/json\",\n  \"template\": \"https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&cref={cref?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json\"\n
        },\n \"queries\": {\n  \"request\": [\n   {\n    \"title\": \"Google Custom
        Search - \\\"adfa lakjdr xavier aldkfj 92323kjadf\\\"\",\n    \"totalResults\":
        \"0\",\n    \"searchTerms\": \"\\\"adfa lakjdr xavier aldkfj 92323kjadf\\\"\",\n
        \   \"count\": 10,\n    \"inputEncoding\": \"utf8\",\n    \"outputEncoding\":
        \"utf8\",\n    \"safe\": \"off\",\n    \"cx\": \"DUMMY_CX\"\n   }\n  ]\n },\n
        \"searchInformation\": {\n  \"searchTime\": 0.506227,\n  \"formattedSearchTime\":
        \"0.51\",\n  \"totalResults\": \"0\",\n  \"formattedTotalResults\": \"0\"\n
        },\n \"spelling\": {\n  \"correctedQuery\": \"\\\"adfa lake dr xavier asldkfj
        92323kj adf\\\"\",\n  \"htmlCorrectedQuery\": \"&quot;adfa \\u003cb\\u003e\\u003ci\\u003elake
        dr\\u003c/i\\u003e\\u003c/b\\u003e xavier \\u003cb\\u003e\\u003ci\\u003easldkfj\\u003c/i\\u003e\\u003c/b\\u003e
        \\u003cb\\u003e\\u003ci\\u003e92323kj adf\\u003c/i\\u003e\\u003c/b\\u003e&quot;\"\n
        }\n}\n"
  recorded_at: Wed, 05 Sep 2012 20:47:49 GMT
recorded_with: VCR 2.2.4
