---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?cx=DUMMY_CX&key=DUMMY_API_KEY&num=10&q=Adobe%20PDF
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"5n-ABuX6AxBQtv21jBFt-w_behM/xWVxFkcqkjg50VIXRJyKFTP4wto"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ! "{\n \"kind\": \"customsearch#search\",\n \"url\": {\n  \"type\":
        \"application/json\",\n  \"template\": \"https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&cref={cref?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json\"\n
        },\n \"queries\": {\n  \"nextPage\": [\n   {\n    \"title\": \"Google Custom
        Search - Adobe PDF\",\n    \"totalResults\": \"358\",\n    \"searchTerms\":
        \"Adobe PDF\",\n    \"count\": 10,\n    \"startIndex\": 11,\n    \"inputEncoding\":
        \"utf8\",\n    \"outputEncoding\": \"utf8\",\n    \"safe\": \"off\",\n    \"cx\":
        \"DUMMY_CX\"\n   }\n  ],\n  \"request\": [\n   {\n    \"title\": \"Google
        Custom Search - Adobe PDF\",\n    \"totalResults\": \"358\",\n    \"searchTerms\":
        \"Adobe PDF\",\n    \"count\": 10,\n    \"startIndex\": 1,\n    \"inputEncoding\":
        \"utf8\",\n    \"outputEncoding\": \"utf8\",\n    \"safe\": \"off\",\n    \"cx\":
        \"DUMMY_CX\"\n   }\n  ]\n },\n \"context\": {\n  \"title\": \"JHU Libraries
        test\"\n },\n \"searchInformation\": {\n  \"searchTime\": 0.091685,\n  \"formattedSearchTime\":
        \"0.09\",\n  \"totalResults\": \"358\",\n  \"formattedTotalResults\": \"358\"\n
        },\n \"items\": [\n  {\n   \"kind\": \"customsearch#result\",\n   \"title\":
        \"E-Readers - E-Books - Library Guides at Johns Hopkins University\",\n   \"htmlTitle\":
        \"E-Readers - E-Books - Library Guides at Johns Hopkins University\",\n   \"link\":
        \"http://guides.library.jhu.edu/content.php?pid=156837&sid=1328261\",\n   \"displayLink\":
        \"guides.library.jhu.edu\",\n   \"snippet\": \"Adobe Reader software is the
        global standard for electronic document sharing. It   is the only PDF file
        viewer that can open and interact with all PDF documents ...\",\n   \"htmlSnippet\":
        \"\\u003cb\\u003eAdobe\\u003c/b\\u003e Reader software is the global standard
        for electronic document sharing. It \\u003cbr\\u003e  is the only \\u003cb\\u003ePDF\\u003c/b\\u003e
        file viewer that can open and interact with all \\u003cb\\u003ePDF\\u003c/b\\u003e
        documents \\u003cb\\u003e...\\u003c/b\\u003e\",\n   \"formattedUrl\": \"guides.library.jhu.edu/content.php?pid=156837&sid=1328261\",\n
        \  \"htmlFormattedUrl\": \"guides.library.jhu.edu/content.php?pid=156837&amp;sid=1328261\",\n
        \  \"pagemap\": {\n    \"metatags\": [\n     {\n      \"author\": \"Sue Vazakas\",\n
        \     \"copyright\": \"Copyright Johns Hopkins University 2012\",\n      \"dc.title\":
        \"Library Guides. E-Books. E-Readers.\",\n      \"dc.creator\": \"Sue Vazakas\",\n
        \     \"dc.subject\": \"E-Readers E-Books Library Guides\",\n      \"dc.description\":
        \"How to find electronic books and resources in the library's catalog. E-books
        are usually read on dedicated hardware devices known as e-Readers or e-book
        devices\",\n      \"dc.publisher\": \"Johns Hopkins University Sheridan Libraries\",\n
        \     \"dc.rights\": \"Copyright Johns Hopkins University 2012\",\n      \"dc.language\":
        \"en\",\n      \"dc.identifier\": \"http://guides.library.jhu.edu/ebooks\",\n
        \     \"dc.date.created\": \"May 9, 2011\",\n      \"dc.date.modified\": \"Nov
        15, 2012\",\n      \"dc.unused\": \"Contributor, Date, Type, Format, Source,
        Relation, Coverage\",\n      \"y_key\": \"65baedbaee9038f3\"\n     }\n    ]\n
        \  }\n  },\n  {\n   \"kind\": \"customsearch#result\",\n   \"title\": \"Introduction
        to Web Accessibility\",\n   \"htmlTitle\": \"Introduction to Web Accessibility\",\n
        \  \"link\": \"http://ldp.library.jhu.edu/documents/welch_class.pdf\",\n   \"displayLink\":
        \"ldp.library.jhu.edu\",\n   \"snippet\": \"a tagged Adobe PDF file from an
        untagged PDF file. This allows a pdf document   to be read by a screen reader
        for greater accessibility. PDF Tags are used to ...\",\n   \"htmlSnippet\":
        \"a tagged \\u003cb\\u003eAdobe PDF\\u003c/b\\u003e file from an untagged
        PDF file. This allows a pdf document \\u003cbr\\u003e  to be read by a screen
        reader for greater accessibility. PDF Tags are used to \\u003cb\\u003e...\\u003c/b\\u003e\",\n
        \  \"cacheId\": \"Svr2mu2ExfYJ\",\n   \"mime\": \"application/pdf\",\n   \"fileFormat\":
        \"PDF/Adobe Acrobat\",\n   \"formattedUrl\": \"ldp.library.jhu.edu/documents/welch_class.pdf\",\n
        \  \"htmlFormattedUrl\": \"ldp.library.jhu.edu/documents/welch_class.\\u003cb\\u003epdf\\u003c/b\\u003e\",\n
        \  \"pagemap\": {\n    \"metatags\": [\n     {\n      \"moddate\": \"D:20050804170729-04'00'\",\n
        \     \"creationdate\": \"D:20050804165740-04'00'\",\n      \"title\": \"welch_class.ppt\",\n
        \     \"creator\": \"PowerPoint\",\n      \"author\": \"System Administrator\",\n
        \     \"producer\": \"Mac OS X 10.4.1 Quartz PDFContext\"\n     }\n    ]\n
        \  }\n  },\n  {\n   \"kind\": \"customsearch#result\",\n   \"title\": \"an
        archaeology of knowledge\",\n   \"htmlTitle\": \"an archaeology of knowledge\",\n
        \  \"link\": \"https://jscholarship.library.jhu.edu/bitstream/handle/1774.2/36138/080912_QRR%20label.pdf\",\n
        \  \"displayLink\": \"jscholarship.library.jhu.edu\",\n   \"snippet\": \"Aug
        9, 2012 ... Mounting Hardware. Scale: Full. Color. White (se[...]
