---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?cx=DUMMY_CX&key=DUMMY_API_KEY&num=10&q=PDF
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ENTgmThqWzhSab7OnAl_tX_Fk04/uCXx2kfy7zw4TAS4Ghv2NprjCBU"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&cref={cref?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "nextPage": [
           {
            "title": "Google Custom Search - PDF",
            "totalResults": "1880",
            "searchTerms": "PDF",
            "count": 10,
            "startIndex": 11,
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "off",
            "cx": "DUMMY_CX"
           }
          ],
          "request": [
           {
            "title": "Google Custom Search - PDF",
            "totalResults": "1880",
            "searchTerms": "PDF",
            "count": 10,
            "startIndex": 1,
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "off",
            "cx": "DUMMY_CX"
           }
          ]
         },
         "context": {
          "title": "JHU Libraries test"
         },
         "searchInformation": {
          "searchTime": 0.338664,
          "formattedSearchTime": "0.34",
          "totalResults": "1880",
          "formattedTotalResults": "1,880"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "Creating PDF/A Files - Electronic Theses and Dissertations - Guides ...",
           "htmlTitle": "Creating \u003cb\u003ePDF\u003c/b\u003e/A Files - Electronic Theses and Dissertations - Guides \u003cb\u003e...\u003c/b\u003e",
           "link": "http://guides.library.jhu.edu/etd/pdfa",
           "displayLink": "guides.library.jhu.edu",
           "snippet": "PDF/A is an ISO-standardized version of the Portable Document Format (PDF) \nspecialized for the digital preservation of electronic documents. You need to save\n ...",
           "htmlSnippet": "\u003cb\u003ePDF\u003c/b\u003e/A is an ISO-standardized version of the Portable Document Format (\u003cb\u003ePDF\u003c/b\u003e) \u003cbr\u003e\nspecialized for the digital preservation of electronic documents. You need to save\u003cbr\u003e\n&nbsp;...",
           "formattedUrl": "guides.library.jhu.edu/etd/pdfa",
           "htmlFormattedUrl": "guides.library.jhu.edu/etd/\u003cb\u003epdf\u003c/b\u003ea",
           "pagemap": {
            "educationalorganization": [
             {
              "name": "Johns Hopkins University"
             }
            ],
            "cse_image": [
             {
              "src": "http://s3.amazonaws.com/libapps/accounts/35355/profiles/29773/10505086_10100563935595395_9032951608364274484_o.jpg"
             }
            ],
            "cse_thumbnail": [
             {
              "width": "225",
              "height": "225",
              "src": "https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRn1k3N4GGfi8VuOEhKGn2OzTRqeUOPgc1NqXeZzeANNySWnr0EWN3FVNc"
             }
            ],
            "postaladdress": [
             {
              "streetaddress": "3400 North Charles Street",
              "addresslocality": "Baltimore",
              "addressregion": "MD",
              "postalcode": "21218"
             }
            ],
            "library": [
             {
              "name": "The Sheridan Libraries",
              "telephone": "(410) 516-8335"
             }
            ],
            "metatags": [
             {
              "viewport": "width=device-width, initial-scale=1.0",
              "dc.title": "Guides: Electronic Theses and Dissertations: Creating PDF/A Files",
              "dc.creator": "David Reynolds",
              "dc.subject": "Library Information & Services, Research Tools, Writing, Citing, and Publishing",
              "dc.description": "This guide will help you format and submit your electronic thesis or dissertation",
              "dc.publishers": "Johns Hopkins University",
              "dc.rights": "Copyright Johns Hopkins University 2015",
              "dc.language": "en",
              "dc.identifier": "http://guides.library.jhu.edu/etd/pdfa",
              "dc.date.created": "Mar 30, 2013",
              "dc.date.modified": "Aug 17, 2015"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Marginalized Multilevel Models and Likelihood Inference",
           "htmlTitle": "Marginalized Multilevel Models and Likelihood Inference",
           "link": "https://jhir.library.jhu.edu/bitstream/handle/1774.2/32863/2000-Marginalized.pdf?sequence=1",
           "displayLink": "jhir.library.jhu.edu",
           "snippet": "Statistical Science. 2000, Vol. 15, No. 1, 126. Marginalized Multilevel Models and \nLikelihood Inference. Patrick J. Heagerty and Scott L. Zeger. Abstract.",
           "htmlSnippet": "Statistical Science. 2000, Vol. 15, No. 1, 126. Marginalized Multilevel Models and \u003cbr\u003e\nLikelihood Inference. Patrick J. Heagerty and Scott L. Zeger. Abstract.",
           "cacheId": "8ZIyZ-9q2iAJ",
           "mime": "application/pdf",
           "fileFormat": "PDF/Adobe Acrobat",
           "formattedUrl": "https://jhir.library.jhu.edu/bitstream/...2/.../2000-Marginalized.pdf?...",
           "htmlFormattedUrl": "https://jhir.library.jhu.edu/bitstream/...2/.../2000-Marginalized.\u003cb\u003epdf\u003c/b\u003e?...",
           "pagemap": {
            "metatags": [
             {
              "creationdate": "D:20000508152218",
              "producer": "Acrobat Distiller 4.05 for Windows",
              "author": "?",
              "creator": "TTI Custom Software (Technical Typesetting Inc.)",
              "title": "234ssci.p"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Got the PDF organization blues? If so…we've got some help | The ...",
           "htmlTitle": "Got the \u003cb\u003ePDF\u003c/b\u003e organization blues? If so…we&#39;ve got some help | The \u003cb\u003e...\u003c/b\u003e",
           "link": "http://blogs.library.jhu.edu/wordpress/[...]
