---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?cx=DUMMY_CX&key=DUMMY_API_KEY&num=10&q=books&start=91
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ENTgmThqWzhSab7OnAl_tX_Fk04/afoM8LpSWynEoC8Z2IEy3ux5lMM"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&cref={cref?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "nextPage": [
           {
            "title": "Google Custom Search - books",
            "totalResults": "2270",
            "searchTerms": "books",
            "count": 10,
            "startIndex": 101,
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "off",
            "cx": "DUMMY_CX"
           }
          ],
          "request": [
           {
            "title": "Google Custom Search - books",
            "totalResults": "2270",
            "searchTerms": "books",
            "count": 10,
            "startIndex": 91,
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "off",
            "cx": "DUMMY_CX"
           }
          ],
          "previousPage": [
           {
            "title": "Google Custom Search - books",
            "totalResults": "2270",
            "searchTerms": "books",
            "count": 10,
            "startIndex": 81,
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "off",
            "cx": "DUMMY_CX"
           }
          ]
         },
         "context": {
          "title": "JHU Libraries test"
         },
         "searchInformation": {
          "searchTime": 0.294042,
          "formattedSearchTime": "0.29",
          "totalResults": "2270",
          "formattedTotalResults": "2,270"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "Home - Mathematics and Statistics - Guides at Johns Hopkins ...",
           "htmlTitle": "Home - Mathematics and Statistics - Guides at Johns Hopkins \u003cb\u003e...\u003c/b\u003e",
           "link": "http://guides.library.jhu.edu/math",
           "displayLink": "guides.library.jhu.edu",
           "snippet": "Research Tools. getting started with books, articles, or general background \ninformation. MATLAB, Mathematica, LaTeX. getting software like MATLAB \nremotely.",
           "htmlSnippet": "Research Tools. getting started with \u003cb\u003ebooks\u003c/b\u003e, articles, or general background \u003cbr\u003e\ninformation. MATLAB, Mathematica, LaTeX. getting software like MATLAB \u003cbr\u003e\nremotely.",
           "formattedUrl": "guides.library.jhu.edu/math",
           "htmlFormattedUrl": "guides.library.jhu.edu/math",
           "pagemap": {
            "educationalorganization": [
             {
              "name": "Johns Hopkins University"
             }
            ],
            "cse_image": [
             {
              "src": "http://s3.amazonaws.com/libapps/accounts/35327/images/Libguides_dollar_signs.jpg"
             }
            ],
            "cse_thumbnail": [
             {
              "width": "96",
              "height": "96",
              "src": "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjIdPWIwkiZ7b9Z29Pp0iTXIq72jY6KAVXRJ5vHQ0qLSumNqKMa4Po"
             }
            ],
            "postaladdress": [
             {
              "streetaddress": "3400 North Charles Street",
              "addresslocality": "Baltimore",
              "addressregion": "MD",
              "postalcode": "21218"
             }
            ],
            "library": [
             {
              "name": "The Sheridan Libraries",
              "telephone": "(410) 516-8335"
             }
            ],
            "metatags": [
             {
              "viewport": "width=device-width, initial-scale=1.0",
              "dc.title": "Guides: Mathematics and Statistics: Home",
              "dc.creator": "Sue Vazakas",
              "dc.subject": "Data & Statistics, Engineering, Mathematics",
              "dc.description": "Resources related to math and mathematical statistics.",
              "dc.publishers": "Johns Hopkins University",
              "dc.rights": "Copyright Johns Hopkins University 2015",
              "dc.language": "en",
              "dc.identifier": "http://guides.library.jhu.edu/c.php?g=202482&p=1572396",
              "dc.date.created": "Sep 12, 2008",
              "dc.date.modified": "Sep 15, 2015"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Institute of the History of Medicine | www.welch.jhu.edu",
           "htmlTitle": "Institute of the History of Medicine | www.welch.jhu.edu",
           "link": "http://welch.jhmi.edu/welchone/Institute-of-the-History-of-Medicine",
           "displayLink": "welch.jhmi.edu",
           "snippet": "The books that comprise the Historical collection are located in several rooms \nand vaults in the Institute's quarters on the third floor of the Welch Library building\n, ...",
           "htmlSnippet": "The \u003cb\u003ebooks\u003c/b\u003e that comprise the Historical collection are located in several rooms \u003cbr\u003e\nand vaults in the Institute&#39;s quarters on the third floor of the Welch Library building\u003cbr\u003e\n,&nbsp;...",
           "cacheId": "ZRVIfJX_IpIJ",
           "formattedUrl": "welch.jhmi.edu/welchone/Institute-of-the-History-of-Medicine",
           "htmlFormattedUrl": "welch.jhmi.edu/welchone/Institute-of-the-History-of-Medicine"
          },
          {
           "kind": "customsearch#result",
           "title": "Yiddish - Jewish Studies - Guides at Johns Hopkins University",
           "htmlTitle": "Yiddish - Jewish Studies - Guides at Johns Hopkins University",
           "link": "http://guides.library.jhu.edu/c.php?g[...]
