---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?cx=DUMMY_CX&key=DUMMY_API_KEY&num=10&q=books&start=91
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"LXj_4NvXMsBuBj8xNRXBhULBOPo/PikLW9g7DZv2YHDYBSJUd6MygKI"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n \"kind\": \"customsearch#search\",\n \"url\": {\n  \"type\":
        \"application/json\",\n  \"template\": \"https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&cref={cref?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json\"\n
        },\n \"queries\": {\n  \"nextPage\": [\n   {\n    \"title\": \"Google Custom
        Search - books\",\n    \"totalResults\": \"6960\",\n    \"searchTerms\": \"books\",\n
        \   \"count\": 10,\n    \"startIndex\": 101,\n    \"inputEncoding\": \"utf8\",\n
        \   \"outputEncoding\": \"utf8\",\n    \"safe\": \"off\",\n    \"cx\": \"DUMMY_CX\"\n
        \  }\n  ],\n  \"request\": [\n   {\n    \"title\": \"Google Custom Search
        - books\",\n    \"totalResults\": \"6960\",\n    \"searchTerms\": \"books\",\n
        \   \"count\": 10,\n    \"startIndex\": 91,\n    \"inputEncoding\": \"utf8\",\n
        \   \"outputEncoding\": \"utf8\",\n    \"safe\": \"off\",\n    \"cx\": \"DUMMY_CX\"\n
        \  }\n  ],\n  \"previousPage\": [\n   {\n    \"title\": \"Google Custom Search
        - books\",\n    \"totalResults\": \"6960\",\n    \"searchTerms\": \"books\",\n
        \   \"count\": 10,\n    \"startIndex\": 81,\n    \"inputEncoding\": \"utf8\",\n
        \   \"outputEncoding\": \"utf8\",\n    \"safe\": \"off\",\n    \"cx\": \"DUMMY_CX\"\n
        \  }\n  ]\n },\n \"context\": {\n  \"title\": \"JHU Libraries test\"\n },\n
        \"searchInformation\": {\n  \"searchTime\": 0.386795,\n  \"formattedSearchTime\":
        \"0.39\",\n  \"totalResults\": \"6960\",\n  \"formattedTotalResults\": \"6,960\"\n
        },\n \"items\": [\n  {\n   \"kind\": \"customsearch#result\",\n   \"title\":
        \"FlowerMart: Where Old Books & Lemon Sticks Collide | The ...\",\n   \"htmlTitle\":
        \"FlowerMart: Where Old \\u003cb\\u003eBooks\\u003c/b\\u003e &amp; Lemon Sticks
        Collide | The \\u003cb\\u003e...\\u003c/b\\u003e\",\n   \"link\": \"http://blogs.library.jhu.edu/wordpress/2012/05/flowermart-where-old-books-lemon-sticks-collide/\",\n
        \  \"displayLink\": \"blogs.library.jhu.edu\",\n   \"snippet\": \"May 3, 2012
        ... You see, the lemon sticks are supposed to be consumed before you look
        at the   rare books, silly! Anyway, are you looking for some weekend ...\",\n
        \  \"htmlSnippet\": \"May 3, 2012 \\u003cb\\u003e...\\u003c/b\\u003e You see,
        the lemon sticks are supposed to be consumed before you look at the \\u003cbr\\u003e
        \ rare \\u003cb\\u003ebooks\\u003c/b\\u003e, silly! Anyway, are you looking
        for some weekend \\u003cb\\u003e...\\u003c/b\\u003e\",\n   \"cacheId\": \"P4QLi1giMUkJ\",\n
        \  \"formattedUrl\": \"blogs.library.jhu.edu/.../flowermart-where-old-books-lemon-sticks-collide/\",\n
        \  \"htmlFormattedUrl\": \"blogs.library.jhu.edu/.../flowermart-where-old-\\u003cb\\u003ebooks\\u003c/b\\u003e-lemon-sticks-collide/\",\n
        \  \"pagemap\": {\n    \"cse_image\": [\n     {\n      \"src\": \"http://blogs.library.jhu.edu/wordpress/wp-content/uploads/2012/05/Flowermart2012.jpg\"\n
        \    }\n    ],\n    \"cse_thumbnail\": [\n     {\n      \"width\": \"212\",\n
        \     \"height\": \"238\",\n      \"src\": \"https://encrypted-tbn1.google.com/images?q=tbn:ANd9GcReJZ_ionOwZzrRWHpSi3SiRAdvTVeQT4QuHkv1_I873CTKm7pqO1v_ucg\"\n
        \    }\n    ],\n    \"metatags\": [\n     {\n      \"viewport\": \"width=device-width,
        initial-scale=1, maximum-scale=1\"\n     }\n    ]\n   }\n  },\n  {\n   \"kind\":
        \"customsearch#result\",\n   \"title\": \"Antiquities - Rare Books + Manuscripts:
        Africa, Asia + Oceania ...\",\n   \"htmlTitle\": \"Antiquities - Rare \\u003cb\\u003eBooks\\u003c/b\\u003e
        + Manuscripts: Africa, Asia + Oceania \\u003cb\\u003e...\\u003c/b\\u003e\",\n
        \  \"link\": \"http://guides.library.jhu.edu/rarebooks_nonwestern\",\n   \"displayLink\":
        \"guides.library.jhu.edu\",\n   \"snippet\": \"Feb 17, 2012 ... This is the
        \\\"Antiquities\\\" page of the \\\"Rare Books + Manuscripts: Africa, Asia
        +   Oceania\\\" guide. Alternate Page for Screenreader Users ...\",\n   \"htmlSnippet\":
        \"Feb 17, 2012 \\u003cb\\u003e...\\u003c/b\\u003e This is the &quot;Antiquities&quot;
        page of the &quot;Rare \\u003cb\\u003eBooks\\u003c/b\\u003e + Manuscripts:
        Africa, Asia + \\u003cbr\\u003e  Oceania&quot; guide. Alternate Page for Screenreader
        Users \\u003cb\\u003e...\\u003c/b\\u003e\",\n   \"formattedUrl\": \"guides.library.jhu.edu/rarebooks_nonwestern\",\n
        \  \"htmlFormattedUrl\": \"guides.library.jhu.edu/rare\\u003cb\\u003ebooks\\u003c/b\\u003e_nonwestern\",\n
        \  \"pagemap\": {\n    \"metatags\": [\n     {\n      \"author\": \"Margaret
        Burri\",\n      \"copyright\": \"Copyright Johns Hopkins University 2012\",\n
        \     \"dc.title\": \"Library Guides. Rare Books + Manuscripts: Africa, Asia
        + Oceania. Antiquities.\",\n      \"dc.creator\": \"Margaret Burri\",\n      \"dc.subject\":
        \"Antiquities Rare Books + Manuscripts: Africa, Asia + Oceania Library Guides\",\n
        \     \"dc.description\": \"Library Guides. Rare Books + Manuscripts: Africa,
        Asia + Oceania. Antiquities.\",\n      \"dc.publisher\": \"Johns Hopkins University
        Sheridan Libraries\",\n      \"dc.rights\": \"Copyright Johns Hopkins University
        2012\",\n      \"dc.language\": \"en\",\n      \"dc.identifier\": \"http://guides.library.jhu.edu/rarebooks_nonwestern\",\n
        \     \"dc.date.created\": \"Mar 26, 2009\",\n      \"dc.date.modified\":
        \"Feb 17, 2012\",\n      \"dc.unused\": \"Contributor, Date, Type, Format,
        Source, Relation, Coverage\",\n      \"y_key\": \"65baedbaee9038f3\"\n     }\n
        \   ]\n   }\n  },\n  {\n   \"kind\": \"customsearch#result\",\n   \"title\":
        \"Citing Sources - E-Books - Library Guides at Johns Hopkins University\",\n
        \  \"htmlTitle\": \"Citing Sources - E-\\u003cb\\u003eBooks\\u003c/b\\u003e
        - Library Guides at Johns Hopkins University\",\n   \"link\": \"http://guides.library.jhu.edu/content.php?pid=156837&sid=1720327\",\n
        \  \"displayLink\": \"guides.library.jhu.edu\",\n   \"snippet\":[...]
