---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?cx=DUMMY_CX&key=DUMMY_API_KEY&num=10&q=books
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ENTgmThqWzhSab7OnAl_tX_Fk04/kV3VEZ4QD3udFaacE270fLVuMTw"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&cref={cref?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "nextPage": [
           {
            "title": "Google Custom Search - books",
            "totalResults": "2270",
            "searchTerms": "books",
            "count": 10,
            "startIndex": 11,
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "off",
            "cx": "DUMMY_CX"
           }
          ],
          "request": [
           {
            "title": "Google Custom Search - books",
            "totalResults": "2270",
            "searchTerms": "books",
            "count": 10,
            "startIndex": 1,
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "off",
            "cx": "DUMMY_CX"
           }
          ]
         },
         "context": {
          "title": "JHU Libraries test"
         },
         "searchInformation": {
          "searchTime": 0.209491,
          "formattedSearchTime": "0.21",
          "totalResults": "2270",
          "formattedTotalResults": "2,270"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "Rare Books - Special Collections & Archives - Guides at Johns ...",
           "htmlTitle": "Rare \u003cb\u003eBooks\u003c/b\u003e - Special Collections &amp; Archives - Guides at Johns \u003cb\u003e...\u003c/b\u003e",
           "link": "http://guides.library.jhu.edu/c.php?g=202582&p=1335264",
           "displayLink": "guides.library.jhu.edu",
           "snippet": "The Winston Tabb Center for Rare Books, Manuscripts, and Archives Research ... \ncollection of incunabula (books printed before 1501), and fine printed books.",
           "htmlSnippet": "The Winston Tabb Center for Rare \u003cb\u003eBooks\u003c/b\u003e, Manuscripts, and Archives Research ... \u003cbr\u003e\ncollection of incunabula (\u003cb\u003ebooks\u003c/b\u003e printed before 1501), and fine printed \u003cb\u003ebooks\u003c/b\u003e.",
           "formattedUrl": "guides.library.jhu.edu/c.php?g=202582&p=1335264",
           "htmlFormattedUrl": "guides.library.jhu.edu/c.php?g=202582&amp;p=1335264",
           "pagemap": {
            "educationalorganization": [
             {
              "name": "Johns Hopkins University"
             }
            ],
            "cse_image": [
             {
              "src": "http://berryjo.files.wordpress.com/2008/12/glibrary03-again.jpg"
             }
            ],
            "cse_thumbnail": [
             {
              "width": "259",
              "height": "194",
              "src": "https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSfqduYMJKVKZ1SYXeu_7ggPRtiV7rxraU31tA8DxPojp0-eqqI7C8XOiM"
             }
            ],
            "postaladdress": [
             {
              "streetaddress": "3400 North Charles Street",
              "addresslocality": "Baltimore",
              "addressregion": "MD",
              "postalcode": "21218"
             }
            ],
            "library": [
             {
              "name": "The Sheridan Libraries",
              "telephone": "(410) 516-8335"
             }
            ],
            "metatags": [
             {
              "viewport": "width=device-width, initial-scale=1.0",
              "dc.title": "Guides: Special Collections & Archives: Rare Books",
              "dc.creator": "Heidi Herr",
              "dc.subject": "Library Information & Services, Special Collections",
              "dc.description": "Archives and Manuscripts and Rare Books",
              "dc.publishers": "Johns Hopkins University",
              "dc.rights": "Copyright Johns Hopkins University 2015",
              "dc.language": "en",
              "dc.identifier": "http://guides.library.jhu.edu/c.php?g=202582&p=1335264",
              "dc.date.created": "Apr 13, 2011",
              "dc.date.modified": "Sep 4, 2015",
              "progid": "Word.Document",
              "originator": "Microsoft Word 12"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Home: Intro to E-Books - E-Books - Guides at Johns Hopkins ...",
           "htmlTitle": "Home: Intro to E-\u003cb\u003eBooks\u003c/b\u003e - E-\u003cb\u003eBooks\u003c/b\u003e - Guides at Johns Hopkins \u003cb\u003e...\u003c/b\u003e",
           "link": "http://guides.library.jhu.edu/ebooks",
           "displayLink": "guides.library.jhu.edu",
  [...]
