<p class="custom_item_partial">
</p>

<!-- include these in there, becuase it'll raise if they're not defined
     our API says we get a `results` local and an `item` local -->

<%= results %>

<%= item %>
