---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/books/v1/volumes?key=BAD_KEY&q=cancer
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n \"error\": {\n  \"errors\": [\n   {\n    \"domain\": \"usageLimits\",\n
        \   \"reason\": \"keyInvalid\",\n    \"message\": \"Bad Request\"\n   }\n
        \ ],\n  \"code\": 400,\n  \"message\": \"Bad Request\"\n }\n}\n"
  recorded_at: Mon, 04 Jun 2012 20:59:05 GMT
recorded_with: VCR 2.2.0
