---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/books/v1/volumes/NOT+EXISTING
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 503
      message: Service Unavailable
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "backendFailed",
            "message": "Service temporarily unavailable.",
            "locationType": "other",
            "location": "backend_flow"
           }
          ],
          "code": 503,
          "message": "Service temporarily unavailable."
         }
        }
  recorded_at: Mon, 21 Sep 2015 14:28:02 GMT
recorded_with: VCR 2.9.3
