---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/books/v1/volumes?maxResults=20&q=cancer&startIndex=40
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"scy4Nkp2VpLNZ5k9N-okuvp-sNk/CP512FXi4xF9QCMgzMJuwIlyqA4"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ! "{\n \"kind\": \"books#volumes\",\n \"totalItems\": 1745,\n \"items\":
        [\n  {\n   \"kind\": \"books#volume\",\n   \"id\": \"h-eNUzElkP8C\",\n   \"etag\":
        \"hV0HRegqWao\",\n   \"selfLink\": \"https://www.googleapis.com/books/v1/volumes/h-eNUzElkP8C\",\n
        \  \"volumeInfo\": {\n    \"title\": \"Cancer Control\",\n    \"subtitle\":
        \"Knowledge Into Action : WHO Guide for Effective Programmes. Policy and advocacy\",\n
        \   \"authors\": [\n     \"World Health Organization\"\n    ],\n    \"publishedDate\":
        \"2008\",\n    \"description\": \"More than 70% of all cancer deaths occur
        in low- and middle-income countries, where resources available for prevention,
        diagnosis and treatment of cancer are limited or nonexistent. Yet cancer is
        to a large extent avoidable. Over 40% of all cancers can be prevented. Some
        of the most common cancers are curable if detected early and treated. Even
        with late cancer, the suffering of patients can be relieved with good palliative
        care. Cancer Control: Knowledge into Action, WHO Guide for Effective Programsis
        a series of six modules offering guidance on all important aspects of effective
        cancer control planning and implementation. This sixth module on Policy and
        Advocacy shows decision makers and program managers how to advocate for policy
        development and effective program implementation of cancer control.\",\n    \"industryIdentifiers\":
        [\n     {\n      \"type\": \"ISBN_10\",\n      \"identifier\": \"9241547529\"\n
        \    },\n     {\n      \"type\": \"ISBN_13\",\n      \"identifier\": \"9789241547529\"\n
        \    }\n    ],\n    \"pageCount\": 48,\n    \"printType\": \"BOOK\",\n    \"contentVersion\":
        \"0.1.1.0.preview.2\",\n    \"imageLinks\": {\n     \"smallThumbnail\": \"http://bks2.books.google.com/books?id=h-eNUzElkP8C&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api\",\n
        \    \"thumbnail\": \"http://bks2.books.google.com/books?id=h-eNUzElkP8C&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api\"\n
        \   },\n    \"language\": \"en\",\n    \"previewLink\": \"http://books.google.com/books?id=h-eNUzElkP8C&printsec=frontcover&dq=cancer&hl=&cd=41&source=gbs_api\",\n
        \   \"infoLink\": \"http://books.google.com/books?id=h-eNUzElkP8C&dq=cancer&hl=&source=gbs_api\",\n
        \   \"canonicalVolumeLink\": \"http://books.google.com/books/about/Cancer_Control.html?hl=&id=h-eNUzElkP8C\"\n
        \  },\n   \"saleInfo\": {\n    \"country\": \"US\",\n    \"saleability\":
        \"NOT_FOR_SALE\",\n    \"isEbook\": false\n   },\n   \"accessInfo\": {\n    \"country\":
        \"US\",\n    \"viewability\": \"ALL_PAGES\",\n    \"embeddable\": true,\n
        \   \"publicDomain\": false,\n    \"textToSpeechPermission\": \"ALLOWED_FOR_ACCESSIBILITY\",\n
        \   \"epub\": {\n     \"isAvailable\": true,\n     \"acsTokenLink\": \"http://books.google.com/books/download/Cancer_Control-sample-epub.acsm?id=h-eNUzElkP8C&format=epub&output=acs4_fulfillment_token&dl_type=sample&source=gbs_api\"\n
        \   },\n    \"pdf\": {\n     \"isAvailable\": false\n    },\n    \"webReaderLink\":
        \"http://books.google.com/books/reader?id=h-eNUzElkP8C&hl=&printsec=frontcover&output=reader&source=gbs_api\",\n
        \   \"accessViewStatus\": \"SAMPLE\"\n   },\n   \"searchInfo\": {\n    \"textSnippet\":
        \"Cancer Control: Knowledge into Action, WHO Guide for Effective Programsis
        a series of six modules offering guidance on all important aspects of effective
        cancer control planning and implementation.\"\n   }\n  },\n  {\n   \"kind\":
        \"books#volume\",\n   \"id\": \"KL5ppEaiXikC\",\n   \"etag\": \"t5ztkmM9gxo\",\n
        \  \"selfLink\": \"https://www.googleapis.com/books/v1/volumes/KL5ppEaiXikC\",\n
        \  \"volumeInfo\": {\n    \"title\": \"Cancer Diagnosed: What Now?\",\n    \"authors\":
        [\n     \"Dr Willem Serfontein\"\n    ],\n    \"publisher\": \"Xlibris Corporation\",\n
        \   \"publishedDate\": \"2011-01-11\",\n    \"industryIdentifiers\": [\n     {\n
        \     \"type\": \"ISBN_10\",\n      \"identifier\": \"1456850733\"\n     },\n
        \    {\n      \"type\": \"ISBN_13\",\n      \"identifier\": \"9781456850739\"\n
        \    }\n    ],\n    \"pageCount\": 392,\n    \"printType\": \"BOOK\",\n    \"contentVersion\":
        \"0.1.0.0.preview.3\",\n    \"imageLinks\": {\n     \"smallThumbnail\": \"http://bks9.books.google.com/books?id=KL5ppEaiXikC&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api\",\n
        \    \"thumbnail\": \"http://bks9.books.google.com/books?id=KL5ppEaiXikC&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api\"\n
        \   },\n    \"language\": \"en\",\n    \"previewLink\": \"http://books.google.com/books?id=KL5ppEaiXikC&printsec=frontcover&dq=cancer&hl=&cd=42&source=gbs_api\",\n
        \   \"infoLink\": \"http://books.google.com/books?id=KL5ppEaiXikC&dq=cancer&hl=&source=gbs_api\",\n
        \   \"canonicalVolumeLink\": \"http://books.google.com/books/about/Cancer_Diagnosed_What_Now.html?hl=&id=KL5ppEaiXikC\"\n
        \  },\n   \"saleInfo\": {\n    \"country\": \"US\",\n    \"saleability\":
        \"FOR_SALE\",\n    \"isEbook\": true,\n    \"listPrice\": {\n     \"amount\":
        3.99,\n     \"currencyCode\": \"USD\"\n    },\n    \"retailPrice\": {\n     \"amount\":
        3.03,\n     \"currencyCode\": \"USD\"\n    },\n    \"buyLink\": \"http://books.google.com/books?id=KL5ppEaiXikC&dq=cancer&hl=&buy=&source=gbs_api\"\n
        \  },\n   \"accessInfo\": {\n    \"country\": \"US\",\n    \"viewability\":
        \"PARTIAL\",\n    \"embeddable\": true,\n    \"publicDomain\": false,\n    \"textToSpeechPermission\":
        \"ALLOWED_FOR_ACCESSIBILITY\",\n    \"epub\": {\n     \"isAvailable\": true,\n
        \    \"acsTokenLink\": \"http://books.google.com/books/download/Cancer_Diagnosed_What_Now-sample-epub.acsm?id=KL5ppEaiXikC&[...]
