---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/books/v1/volumes?maxResults=20&q=cancer&startIndex=40
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"AEqHJ39cYOcHij976IZqD9LCWzE/AJttUA6Pe_9LGn2YYut-dmtXXok"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "books#volumes",
         "totalItems": 1220,
         "items": [
          {
           "kind": "books#volume",
           "id": "-sfJeOq731MC",
           "etag": "QjgEHcTh2wE",
           "selfLink": "https://www.googleapis.com/books/v1/volumes/-sfJeOq731MC",
           "volumeInfo": {
            "title": "Head and Neck Cancer",
            "subtitle": "A Multidisciplinary Approach",
            "authors": [
             "Louis B. Harrison",
             "Roy B. Sessions",
             "Waun Ki Hong"
            ],
            "publisher": "Lippincott Williams & Wilkins",
            "publishedDate": "2009",
            "description": "This comprehensive, multidisciplinary text addresses all aspects of head and neck cancer and represents a wide spectrum of specialists, including surgical, radiation, and medical oncologists, dentists, pathologists, radiologists, and nurses. The book focuses on a two-part approach to treatment that maximizes the chance for a cure while maintaining a strong emphasis on quality of life. This Third Edition's updated techniques section includes new radiation techniques such as IMRT and IGRT and new endoscopic and laser surgical techniques. Other highlights include a new chapter on reconstructive techniques; significant updates to all site-specific chapters; updates on chemoprevention and molecular targeting; and discussions of new imaging modalities such as fused PET/CT. A companion Website will offer the fully searchable text with all images.",
            "industryIdentifiers": [
             {
              "type": "ISBN_10",
              "identifier": "0781771366"
             },
             {
              "type": "ISBN_13",
              "identifier": "9780781771368"
             }
            ],
            "readingModes": {
             "text": false,
             "image": true
            },
            "pageCount": 960,
            "printType": "BOOK",
            "categories": [
             "Medical"
            ],
            "averageRating": 5.0,
            "ratingsCount": 1,
            "maturityRating": "NOT_MATURE",
            "allowAnonLogging": false,
            "contentVersion": "0.3.1.0.preview.1",
            "imageLinks": {
             "smallThumbnail": "http://books.google.com/books/content?id=-sfJeOq731MC&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api",
             "thumbnail": "http://books.google.com/books/content?id=-sfJeOq731MC&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api"
            },
            "language": "en",
            "previewLink": "http://books.google.com/books?id=-sfJeOq731MC&printsec=frontcover&dq=cancer&hl=&cd=41&source=gbs_api",
            "infoLink": "http://books.google.com/books?id=-sfJeOq731MC&dq=cancer&hl=&source=gbs_api",
            "canonicalVolumeLink": "http://books.google.com/books/about/Head_and_Neck_Cancer.html?hl=&id=-sfJeOq731MC"
           },
           "saleInfo": {
            "country": "US",
            "saleability": "NOT_FOR_SALE",
            "isEbook": false
           },
           "accessInfo": {
            "country": "US",
            "viewability": "PARTIAL",
            "embeddable": true,
            "publicDomain": false,
            "textToSpeechPermission": "ALLOWED",
            "epub": {
             "isAvailable": false
            },
            "pdf": {
             "isAvailable": false
            },
            "webReaderLink": "http://books.google.com/books/reader?id=-sfJeOq731MC&hl=&printsec=frontcover&output=reader&source=gbs_api",
            "accessViewStatus": "SAMPLE",
            "quoteSharingAllowed": false
           },
           "searchInfo": {
            "textSnippet": "This comprehensive, multidisciplinary text addresses all aspects of head and neck cancer and represents a wide spectrum of specialists, including surgical, radiation, and medical oncologists, dentists, pathologists, radiologists, and nurses ..."
           }
          },
          {
           "kind": "books#volume",
           "id": "FhaII7PMHZcC",
           "etag": "4Lbdbc4moBc",
           "selfLink": "https://www.googleapis.com/books/v1/volumes/FhaII7PMHZcC",
           "volumeInfo": {
  [...]
