---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/books/v1/volumes?maxResults=20&q=cancer&startIndex=40
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"qNsoPKOLdfqhG5WG78YlLVVbcbo/hx0CoSymZwkdaMZhe8OIQxfeSEE"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ! "{\n \"kind\": \"books#volumes\",\n \"totalItems\": 1055,\n \"items\":
        [\n  {\n   \"kind\": \"books#volume\",\n   \"id\": \"8K9rAAAAMAAJ\",\n   \"etag\":
        \"CqMABBJPklA\",\n   \"selfLink\": \"https://www.googleapis.com/books/v1/volumes/8K9rAAAAMAAJ\",\n
        \  \"volumeInfo\": {\n    \"title\": \"Cancer\",\n    \"subtitle\": \"a manual
        for practitioners\",\n    \"authors\": [\n     \"American Cancer Society.
        Massachusetts Division\"\n    ],\n    \"publishedDate\": \"1968\",\n    \"industryIdentifiers\":
        [\n     {\n      \"type\": \"OTHER\",\n      \"identifier\": \"UOM:39015003806745\"\n
        \    }\n    ],\n    \"pageCount\": 408,\n    \"printType\": \"BOOK\",\n    \"categories\":
        [\n     \"Health & Fitness\"\n    ],\n    \"contentVersion\": \"preview-1.0.0\",\n
        \   \"imageLinks\": {\n     \"smallThumbnail\": \"http://bks6.books.google.com/books?id=8K9rAAAAMAAJ&printsec=frontcover&img=1&zoom=5&source=gbs_api\",\n
        \    \"thumbnail\": \"http://bks6.books.google.com/books?id=8K9rAAAAMAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api\"\n
        \   },\n    \"language\": \"en\",\n    \"previewLink\": \"http://books.google.com/books?id=8K9rAAAAMAAJ&q=cancer&dq=cancer&cd=41&source=gbs_api\",\n
        \   \"infoLink\": \"http://books.google.com/books?id=8K9rAAAAMAAJ&dq=cancer&source=gbs_api\",\n
        \   \"canonicalVolumeLink\": \"http://books.google.com/books/about/Cancer.html?id=8K9rAAAAMAAJ\"\n
        \  },\n   \"saleInfo\": {\n    \"country\": \"US\",\n    \"saleability\":
        \"NOT_FOR_SALE\",\n    \"isEbook\": false\n   },\n   \"accessInfo\": {\n    \"country\":
        \"US\",\n    \"viewability\": \"NO_PAGES\",\n    \"embeddable\": false,\n
        \   \"publicDomain\": false,\n    \"textToSpeechPermission\": \"ALLOWED_FOR_ACCESSIBILITY\",\n
        \   \"epub\": {\n     \"isAvailable\": false\n    },\n    \"pdf\": {\n     \"isAvailable\":
        false\n    },\n    \"webReaderLink\": \"http://books.google.com/books/reader?id=8K9rAAAAMAAJ&printsec=frontcover&output=reader&source=gbs_api\",\n
        \   \"accessViewStatus\": \"NONE\"\n   }\n  },\n  {\n   \"kind\": \"books#volume\",\n
        \  \"id\": \"SI5J2zKEGsUC\",\n   \"etag\": \"8ehif+o1s68\",\n   \"selfLink\":
        \"https://www.googleapis.com/books/v1/volumes/SI5J2zKEGsUC\",\n   \"volumeInfo\":
        {\n    \"title\": \"Cancer\",\n    \"authors\": [\n     \"Paula Taylor\"\n
        \   ],\n    \"publishedDate\": \"1978-12-01\",\n    \"description\": \"Describes
        character traits and attitudes reputedly possessed by individuals born under
        the sun sign Cancer.\",\n    \"industryIdentifiers\": [\n     {\n      \"type\":
        \"ISBN_10\",\n      \"identifier\": \"0871916444\"\n     },\n     {\n      \"type\":
        \"ISBN_13\",\n      \"identifier\": \"9780871916440\"\n     }\n    ],\n    \"pageCount\":
        47,\n    \"printType\": \"BOOK\",\n    \"categories\": [\n     \"Body, Mind
        & Spirit\"\n    ],\n    \"cont[...]
