---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/books/v1/volumes?maxResults=10&q=cancer
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"AEqHJ39cYOcHij976IZqD9LCWzE/KK950eRXdoSL_tb3tMcp5_ialPo"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "books#volumes",
         "totalItems": 1585,
         "items": [
          {
           "kind": "books#volume",
           "id": "-TAxAAAAQBAJ",
           "etag": "n9cAvaUys7o",
           "selfLink": "https://www.googleapis.com/books/v1/volumes/-TAxAAAAQBAJ",
           "volumeInfo": {
            "title": "The Mayo Clinic Breast Cancer Book",
            "authors": [
             "Mayo Clinic"
            ],
            "publisher": "RosettaBooks",
            "publishedDate": "2012-11-16",
            "description": "From the breast health experts at Mayo Clinic comes a guide to the many aspects of breast cancer—from prevention, to care and coping, to survival, to living with hope. Trustworthy information offered in a spirit of companionship. “This is the best source for readable, up-to-date information—from the world’s experts.” —Dr. Thomas J. Smith, Johns Hopkins Hospital “If you’re looking for a comprehensive, easy-to-read book about an often confusing topic, The Mayo Clinic Breast Cancer Book is for yo[...]
