---
http_interactions:
- request:
    method: get
    uri: https://doaj.org/api/v1/search/articles/+Breast%20+cancer%20+patients%20+with%20+lobular%20+cancer%20+more%20+commonly%20+have%20+a%20+father%20+than%20+a%20+mother%20+diagnosed%20+with%20+cancer?pageSize=10
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"pageSize": 10, "timestamp": "2015-0923T15:25:47Z", "results": [{"last_updated":
        "2015-04-22T03:59:29Z", "id": "c7cbb0516de24de2bdcfb3d81a40ab1b", "bibjson":
        {"start_page": "497", "title": "Breast cancer patients with lobular cancer
        more commonly have a father than a mother diagnosed with cancer", "journal":
        {"publisher": "BioMed Central", "language": ["English"], "license": [{"type":
        "CC BY", "title": "CC BY"}], "title": "BMC Cancer", "country": "GB", "number":
        "1", "volume": "11"}, "author": [{"name": "Ellberg Carolina"}, {"name": "Olsson
        H\u00e5kan"}], "month": "11", "link": [{"url": "http://www.biomedcentral.com/1471-2407/11/497",
        "type": "fulltext"}], "year": "2011", "identifier": [{"type": "doi", "id":
        "10.1186/1471-2407-11-497"}, {"type": "pissn", "id": "1471-2407"}], "abstract":
        "<p>Abstract</p> <p>Background</p> <p>The association between lobular breast
        cancer and family history is not clear. The aim of the study was to possibly
        identifying new hereditary patterns predisposing for cancer in the different
        histopathologic subtypes of breast cancer, with focus on patients with lobular
        breast cancer and cancer in their first degree relatives.</p> <p>Methods</p>
        <p>In 1676 consecutive breast cancer patients detailed family hi[...]
