---
http_interactions:
- request:
    method: get
    uri: https://doaj.org/api/v1/search/articles/%22Code4Lib+Journal%22?pageSize=10
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"pageSize": 10, "timestamp": "2015-0916T18:57:21Z", "results": [{"last_updated":
        "2015-04-22T03:48:49Z", "id": "b9f0b5fb8e3a487388ec8aba4041bfa7", "bibjson":
        {"title": "Editorial Introduction: On Being on The Code4Lib Journal Editorial
        Committee", "journal": {"publisher": "Code4Lib", "language": ["English"],
        "license": [{"type": "CC BY", "title": "CC BY"}], "title": "Code4Lib Journal",
        "country": "US", "number": "26"}, "author": [{"name": "Kelley McGrath"}],
        "month": "10", "link": [{"url": "http://journal.code4lib.org/articles/10182",
        "type": "fulltext", "content_type": "html"}], "year": "2014", "identifier":
        [{"type": "pissn", "id": "1940-5758"}], "abstract": "Behind the scenes of
        the The Code4Lib Journal...", "subject": [{"code": "Z", "term": "Bibliography.
        Library science. Information resources", "scheme": "LCC"}]}, "created_date":
        "2014-10-21T22:30:02Z"}, {"last_updated": "2015-04-22T03:18:29Z", "id": "92ca80231d594df1abd65087c06f9e99",
        "bibjson": {"title": "Editorial Introduction: The Code4Lib Journal isn\u2019t
        just for Coders", "journal": {"publisher": "Code4Lib", "language": ["English"],
        "license": [{"type": "CC BY", "title": "CC BY"}], "title": "Code4Lib Journal",
        "country": "US", "number": "12"}, "author": [{"name": "Ron Peterson"}], "month":
        "12", "link": [{"url": "h[...]
