---
http_interactions:
- request:
    method: get
    uri: https://doaj.org/api/v1/search/articles/Code4Lib+Journal?pageSize=10
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"pageSize": 10, "timestamp": "2015-0916T18:54:12Z", "results": [{"last_updated":
        "2015-04-22T03:48:49Z", "id": "b9f0b5fb8e3a487388ec8aba4041bfa7", "bibjson":
        {"title": "Editorial Introduction: On Being on The Code4Lib Journal Editorial
        Committee", "journal": {"publisher": "Code4Lib", "language": ["English"],
        "license": [{"type": "CC BY", "title": "CC BY"}], "title": "Code4Lib Journal",
        "country": "US", "number": "26"}, "author": [{"name": "Kelley McGrath"}],
        "month": "10", "link": [{"url": "http://journal.code4lib.org/articles/10182",
        "type": "fulltext", "content_type": "html"}], "year": "2014", "identifier":
        [{"type": "pissn", "id": "1940-5758"}], "abstract": "Behind the scenes of
        the The Code4Lib Journal...", "subject": [{"code": "Z", "term": "Bibliography.
        Library science. Information resources", "scheme": "LCC"}]}, "created_date":
        "2014-10-21T22:30:02Z"}, {"last_updated": "2015-04-22T01:34:11Z", "id": "0c668438777c4b259da98e3adc928e7a",
        "bibjson": {"title": "CONFERENCE REPORT: Code4Lib 2010", "journal": {"publisher":
        "Code4Lib", "language": ["English"], "license": [{"type": "CC BY", "title":
        "CC BY"}], "title": "Code4Lib Journal", "country": "US", "number": "9"}, "author":
        [{"name": "Birong Ho"}, {"name": "Banurekha Lakshminarayanan"}, {"name": "Vanessa
        Meireles"}], "month": "03", "link": [{"url": "http://journal.code4lib.org/articles/2717",
        "type": "fulltext"}], "year": "2010", "keywords": ["c4l10", "code4lib"], "identifier":
        [{"type": "pissn", "id": "1940-5758"}], "abstract": "Conference reports from
        the 5th Code4Lib Conference, held in Asheville, NC, from February 22 to 25,
        2010. The Code4Lib conference is a collective volunteer effort of the Code4Lib
        community of library technologists. Included are three brief reports on the
        conference from the recipients of conference scholarships.  ", "subject":
        [{"code": "Z", "term": "Bibliogr[...]
