---
http_interactions:
- request:
    method: get
    uri: https://doaj.org/api/v1/search/articles/id:no+such+id?pageSize=10
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"pageSize": 10, "timestamp": "2015-0916T19:51:07Z", "results": [],
        "query": "id:no+such+id", "total": 0, "page": 1}'
  recorded_at: Wed, 16 Sep 2015 19:51:07 GMT
recorded_with: VCR 2.9.3
