---
http_interactions:
- request:
    method: get
    uri: https://doaj.org/api/v1/search/articles/+cancer?pageSize=10
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"pageSize": 10, "timestamp": "2015-0923T15:25:49Z", "results": [{"last_updated":
        "2015-04-22T01:47:22Z", "id": "1c7e32e140c94c7cb5c7902ec96f1136", "bibjson":
        {"title": "Cancer Incidence in Egypt:  Results of the National Population-Based
        Cancer Registry Program", "journal": {"publisher": "Hindawi Publishing Corporation",
        "language": ["English"], "license": [{"type": "CC BY", "title": "CC BY"}],
        "title": "Journal of Cancer Epidemiology", "country": "EG", "volume": "2014"},
        "author": [{"affiliation": "Department of Biostatistics and Cancer Epidemiology,
        National Cancer Institute, Cairo University, Cairo, Egypt", "email": "ibrahimamalsamy@gmail.com",
        "name": "Amal S. Ibrahim"}, {"affiliation": "Department of Medical Oncology,
        National Cancer Institute, Cairo University, Cairo, Egypt", "email": "khussein528@gmail.com",
        "name": "Hussein M. Khaled"}, {"affiliation": "Department of Biostatistics
        and Cancer Epidemiology, South Egypt Cancer Institute, Assiut University,
        Assiut, Egypt", "email": "nabiel.mikhail@gmail.com", "name": "Nabiel NH Mikhail"},
        {"affiliation": "Department of Computer Engineering, Faculty of Engineering,
        Cairo University, Giza, Egypt", "email": "hbaraka@mcit.gov.eg", "name": "Hoda
        Baraka"}, {"affiliation": "Department of Medical Oncology, National Cancer
        Institute, Cairo University, Cairo, Egypt", "email": "hkamel@cu.edu.eg", "name":
        "Hossam Kamel"}], "link": [{"url": "http://dx.doi.org/10.1155/2014/437971",
        "type": "fulltext"}], "year": "2014", "identifier": [{"type": "pissn", "id":
        "1687-8558"}, {"type": "eissn", "id": "1687-8566"}, {"type": "doi", "id":
        "10.1155/2014/437971"}], "subject": [{"code": "RC254-282", "term": "Neoplasms.
        Tumors. Oncology. Including cancer and carcinogens", "scheme": "LCC"}, {"code":
        "RC31-1245", "term": "Internal medicine", "scheme": "LCC"}, {"code": "R",
        "term": "Medicine", "scheme": "LCC"}]}, "created_date": "2014-10-20T08:05:15Z"},
        {"last_updated": "2015-04-22T03:59:29Z", "id": "c7cbb0516de24de2bdcfb3d81a40ab1b",
        "bibjson": {"start_page": "497", "title": "Breast cancer patients with lobular
        cancer more commonly have a father than a mother diagnosed with cancer", "journal":
        {"publisher": "BioMed Central", "language": ["English"], "license": [{"type":
        "CC BY", "title": "CC BY"}], "title": "BMC Cancer", "country": "GB", "number":
        "1", "volume": "11"}, "author": [{"name": "Ellberg Carolina"}, {"name": "Olsson
        H\u00e5kan"}], "month": "11", "link": [{"url": "http://www.biomedcentral.com/1471-2407/11/497",
        "type": "fulltext"}], "year": "2011", "identifier": [{"type": "doi", "id":
        "10.1186/1471-2407-11-497"}, {"type": "pissn", "id": "1471-2407"}], "abstract":
        "<p>Abstract</p> <p>Background</p> <p>The association between lobular breast
        cancer and family history is not clear. The aim of the study was to possibly
        identifying new hereditary patterns predisposing for cancer in the different
        histopathologic subtypes of breast cancer, with focus on patients with lobular
        breast cancer and cancer in their first degree relatives.</p> <p>Methods</p>
        <p>In 1676 consecutive breast cancer patients detailed family hi[...]
- request:
    method: get
    uri: https://doaj.org/api/v1/search/articles/id:(+1c7e32e140c94c7cb5c7902ec96f1136)?pageSize=10
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"pageSize": 10, "timestamp": "2015-0923T15:25:49Z", "results": [{"last_updated":
        "2015-04-22T01:47:22Z", "id": "1c7e32e140c94c7cb5c7902ec96[...]
