---
http_interactions:
- request:
    method: get
    uri: https://doaj.org/api/v1/search/articles/+id:(+no_such_id)?pageSize=10
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"pageSize": 10, "timestamp": "2015-0923T15:51:27Z", "results": [],
        "query": "+id:(+no_such_id)", "total": 0, "page": 1}'
  recorded_at: Wed, 23 Sep 2015 15:51:27 GMT
recorded_with: VCR 2.9.3
