---
http_interactions:
- request:
    method: get
    uri: https://doaj.org/api/v1/search/articles/+cancer?page=3&pageSize=20
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"pageSize": 20, "timestamp": "2015-0923T15:51:27Z", "results": [{"last_updated":
        "2015-04-22T03:06:02Z", "id": "82c9dc39aebe429d8e37b55469ed882d", "bibjson":
        {"identifier": [{"type": "doi", "id": "10.1007/s11805-011-0562-z"}, {"type":
        "pissn", "id": "2095-3941"}], "start_page": "77", "title": "The Role of Inflammation
        in Breast Cancer and Prostate Cancer", "journal": {"publisher": "Cancer Biology
        & Medicine", "language": ["English"], "title": "Cancer Biology & Medicine",
        "country": "CN", "number": "2", "volume": "8"}, "author": [{"name": "Wen-liang
        Zhang"}], "month": "06", "link": [{"url": "http://www.cancerbiomed.org/index.php/cocr/article/view/48",
        "type": "fulltext"}], "year": "2011", "keywords": ["breast cancer", "prostate
        cancer", "inflammation"], "subject": [{"code": "RC254-282", "term": "Neoplasms.
        Tumors. Oncology. Including cancer and carcinogens", "scheme": "LCC"}, {"code":
        "RC31-1245", "term": "Internal medicine", "scheme": "LCC"}, {"code": "R",
        "term": "Medicine", "scheme": "LCC"}, {"term": "Oncology", "scheme": "DOAJ"},
        {"term": "Medicine (General)", "scheme": "DOAJ"}, {"term": "Health Sciences",
        "scheme": "DOAJ"}, {"code": "RC254-282", "term": "Neoplasms. Tumors. Oncology.
        Including cancer and carcinogens", "scheme": "LCC"}, {"code": "RC31-1245",
        "term": "Internal medicine", "scheme": "LCC"}, {"code": "R", "term": "Medicine",
        "scheme": "LCC"}, {"term": "Oncology", "scheme": "DOAJ"}, {"term": "Medicine
        (General)", "scheme": "DOAJ"}, {"term": "Health Sciences", "scheme": "DOAJ"},
        {"code": "RC254-282", "term": "Neoplasms. Tumors. Oncology. Including cancer
        and carcinogens", "scheme": "LCC"}, {"code": "RC31-1245", "term": "Internal
        medicine", "scheme": "LCC"}, {"code": "R", "term": "Medicine", "scheme": "LCC"},
        {"code": "RC254-282", "term": "Neoplasms. Tumors. Oncology. Including cancer
        and carcinogens", "scheme": "LCC"}, {"code": "RC31-1245", "term": "Internal
        medicine", "scheme": "LCC"}, {"code": "R", "term": "Medicine", "scheme": "LCC"},
        {"code": "RC254-282", "term": "Neoplasms. Tumors. Oncology. Including cancer
        and carcinogens", "scheme": "LCC"}, {"code": "RC31-1245", "term": "Internal
        medicine", "scheme": "LCC"}, {"code": "R", "term": "Medicine", "scheme": "LCC"}],
        "abstract": "Inflammatory conditions increase the risk of cancer. Strong evidences
        showed that inflammation contributes to breast cancer and prostate cancer
        in different ways such as inflammation-induced DNA or RNA damage, overexpression
        cytokines, chemokines etc. Recent studies have begun to unravel molecular
        pathways linking inflammation and cancer. Some possible mechanisms by which
        inflammation can contribute to carcinogenesis have been found. These mechanisms
        bywhich inflammation contributes to cancer give broader views of cancer development.
        These insights are fostering new anti-inflammatory therapeutic approaches
        to cancer development.", "end_page": "84"}, "created_date": "2013-05-28T04:38:15Z"},
        {"last_updated": "2015-04-22T03:40:51Z", "id": "b029e7276dc04946bed67f41e0da3f88",
        "bibjson": {"title": "Cancer Stem Cells and Epithelial Ovarian Cancer", "journal":
        {"publisher": "Hindawi Publishing Corporation", "language": ["English"], "license":
        [{"type": "CC BY", "title": "CC BY"}], "title": "Journal of Oncology", "country":
        "EG", "volume": "2010"}, "author": [{"name": "Dimitra Dafou"}, {"name": "Sheetal
        Dyall"}, {"name": "Simon A. Gayther"}], "link": [{"url": "http://dx.doi.org/10.1155/2010/105269",
        "type": "fulltext"}], "year": "2010", "identifier": [{"type": "doi", "id":
        "10.1155/2010/105269"}, {"type": "pissn", "id": "1687-8450"}, {"type": "eissn",
        "id": "1687-8469"}], "subject": [{"[...]
