---
http_interactions:
- request:
    method: get
    uri: https://doaj.org/api/v1/search/articles/cancer
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"pageSize": 10, "timestamp": "2015-0916T15:58:52Z", "results": [{"last_updated":
        "2015-04-22T01:47:22Z", "id": "1c7e32e140c94c7cb5c7902ec96f1136", "bibjson":
        {"title": "Cancer Incidence in Egypt:  Results of the National Population-Based
        Cancer Registry Program", "journal": {"publisher": "Hindawi Publishing Corporation",
        "language": ["English"], "license": [{"type": "CC BY", "title": "CC BY"}],
        "title": "Journal of Cancer Epidemiology", "country": "EG", "volume": "2014"},
        "author": [{"affiliation": "Department of Biostatistics and Cancer Epidemiology,
        National Cancer Institute, Cairo University, Cairo, Egypt", "email": "ibrahimamalsamy@gmail.com",
        "name": "Amal S. Ibrahim"}, {"affiliation": "Department of Medical Oncology,
        National Cancer Institute, Cairo University, Cairo, Egypt", "email": "khussein528@gmail.com",
        "name": "Hussein M. Khaled"}, {"affiliation": "Department of Biostatistics
        and Cancer Epidemiology, South Egypt Cancer Institute, Assiut University,
        Assiut, Egypt", "email": "nabiel.mikhail@gmail.com", "name": "Nabiel NH Mikhail"},
        {"affiliation": "Department of Computer Engineering, Faculty of Engineering,
        Cairo University, Giza, Egypt", "email": "hbaraka@mcit.gov.eg", "name": "Hoda
        Baraka"}, {"affiliation": "Department of Medical Oncology, National Cancer
        Institute, Cairo University, Cairo, Egypt", "email": "hkamel@cu.edu.eg", "name":
        "Hossam Kamel"}], "link": [{"url": "http://dx.doi.org/10.1155/2014/437971",
        "type": "fulltext"}], "year": "2014", "identifier": [{"type": "pissn", "id":
        "1687-8558"}, {"type": "eissn", "id": "1687-8566"}, {"type": "doi", "id":
        "10.1155/2014/437971"}], "subject": [{"code": "RC254-282", "term": "Neoplasms.
        Tumors. Oncology. Including cancer and carcinogens", "scheme": "LCC"}, {"code":
        "RC31-1245", "term": "Internal medicine", "scheme": "LCC"}, {"code": "R",
        "term": "Medicine", "scheme": "LCC"}]}, "created_date": "2014-10-20T08:05:15Z"},
        {"last_updated": "2015-04-22T03:59:29Z", "id": "c7cbb0516de24de2bdcfb3d81a40ab1b",
        "bibjson": {"start_page": "497", "title": "Breast cancer patients with lobular
        cancer more commonly have a father than a mother diagnosed with cancer", "journal":
        {"publisher": "BioMed Central", "language": ["English"], "license": [{"type":
        "CC BY", "title": "CC BY"}], "title": "BMC Cancer", "country": "GB", "number":
        "1", "volume": "11"}, "author": [{"name": "Ellberg Carolina"}, {"name": "Olsson
        H\u00e5kan"}], "month": "11", "link": [{"url": "http://www.biomedcentral.com/1471-2407/11/497",
        "type": "fulltext"}], "year": "2011", "identifier": [{"type": "doi", "id":
        "10.1186/1471-2407-11-497"}, {"type": "pissn", "id": "1471-2407"}], "abstract":
        "<p>Abstract</p> <p>Background</p> <p>The association between lobular breast
        cancer and family history is not clear. The aim of the study was to possibly
        identifying new hereditary patterns predisposing for cancer in the different
        histopathologic subtypes of breast cancer, with focus on patients with lobular
        breast cancer and cancer in their first degree relatives.</p> <p>Methods</p>
        <p>In 1676 consecutive breast cancer patients detailed family hi[...]
- request:
    method: get
    uri: https://doaj.org/api/v1/search/articles/cancer?page=2&pageSize=20
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"pageSize": 20, "timestamp": "2015-0916T16:55:57Z", "results": [{"last_updated":
        "2015-04-22T04:32:02Z", "id": "f1ccd4e8808d4444b78222c3b171f817", "bibjson":
        {"identifier": [{"type": "pissn", "id": "1176-9351"}], "start_page": "37",
        "title": "Toolbox for Mobile-Element Insertion Detection on Cancer Genomes",
        "journal": {"publisher": "Libertas Academica", "language": ["English"], "license":
        [{"type": "CC BY", "title": "CC BY"}], "title": "Cancer Informatics", "country":
        "NZ", "number": "Suppl. 1", "volume": "2015"}, "author": [{"name": "Wan-Ping
        Lee"}, {"name": "Jiantao Wu"}, {"name": null}, {"name": "Gabor T. Marth"}],
        "month": "2", "link": [{"url": "http://www.la-press.com/toolbox-for-mobile-element-insertion-detection-on-cancer-genomes-article-a4665",
        "type": "fulltext", "content_type": "html"}], "year": "2015", "subject": [{"code":
        "RC254-282", "term": "Neoplasms. Tumors. Oncology. Including cancer and carcinogens",
        "scheme": "LCC"}, {"code": "RC31-1245", "term": "Internal medicine", "scheme":
        "LCC"}, {"code": "R", "term": "Medicine", "scheme": "LCC"}], "end_page": "44"},
        "created_date": "2015-03-10T23:00:09Z"}, {"last_updated": "2015-06-09T01:30:03Z",
        "id": "2bba9716f291456e95a43dd275cba9c2", "bibjson": {"identifier": [{"type":
        "pissn", "id": "1176-9351"}], "start_page": "173", "title": "Integrative Analyses
        of Cancer Data: A Review from a Statistical Perspective", "journal": {"publisher":
        "Libertas Academica", "language": ["English"], "license": [{"type": "CC BY",
        "title": "CC BY"}], "title": "Cancer Infor[...]
- request:
    method: get
    uri: https://doaj.org/api/v1/search/articles/cancer?page=3&pageSize=20
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"pageSize": 20, "timestamp": "2015-0916T16:56:25Z", "results": [{"last_updated":
        "2015-04-22T03:06:02Z", "id": "82c9dc39aebe429d8e37b55469ed882d", "bibjson":
        {"identifier": [{"type": "doi", "id": "10.1007/s11805-011-0562-z"}, {"type":
        "pissn", "id": "2095-3941"}], "start_page": "77", "title": "The Role of Inflammation
        in Breast Cancer and Prostate Cancer", "journal": {"publisher": "Cancer Biology
        & Medicine", "language": ["English"], "title": "Cancer Biology & Medicine",
        "country": "CN", "number": "2", "volume": "8"}, "author": [{"name": "Wen-liang
        Zhang"}], "month": "06", "link": [{"url": "http://www.cancerbiomed.org/index.php/cocr/article/view/48",
        "type": "fulltext"}], "year": "2011", "keywords": ["breast cancer", "prostate
        cancer", "inflammation"], "subject": [{"code": "RC254-282", "term": "Neoplasms.
        Tumors. Oncology. Including cancer and carcinogens", "scheme": "LCC"}, {"code":
        "RC31-1245", "term": "Internal medicine", "scheme": "LCC"}, {"code": "R",
        "term": "Medicine", "scheme": "LCC"}, {"term": "Oncology", "scheme": "DOAJ"},
        {"term": "Medicine (General)", "scheme": "DOAJ"}, {"term": "Health Sciences",
        "scheme": "DOAJ"}, {"code": "RC25[...]
