---
http_interactions:
- request:
    method: get
    uri: http://api.elsevier.com/content/search/index:SCOPUS?count=10&query=cancer&sort=refeid
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Els-Apikey:
      - BAD_KEY_ERROR
      X-Els-Resourceversion:
      - XOCS
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      X-Els-Status:
      - AUTHORIZATION_ERROR(APIKey BAD_KEY_ERROR with IP address 128.220.159.5 is
        unrecognized or has insufficient privileges for access to this resource)
      X-Els-Reqid:
      - 0000014f72d218c9-4edd497
      X-Els-Apikey:
      - BAD_KEY_ERROR
      X-Els-Transid:
      - c07c7285-8ddc-4f83-bf7d-d961dd5b721e
      Allow:
      - GET
      Content-Type:
      - text/xml;charset=UTF-8
      X-Re-Ref:
      - 1 -1608368997
    body:
      encoding: UTF-8
      string: "<service-error>\n\t<status>\n\t\t<statusCode>AUTHORIZATION_ERROR</statusCode>\n\t\t<statusText>APIKey
        BAD_KEY_ERROR with IP address 128.220.159.5 is unrecognized or has insufficient
        privileges for access to this resource</statusText>\n\t</status>\n</service-error>"
  recorded_at: Thu, 17 Sep 2015 20:54:52 GMT
recorded_with: VCR 2.9.3
