---
http_interactions:
- request:
    method: get
    uri: http://api.elsevier.com/content/search/index:SCOPUS?count=10&query=monkey%20%20brain%20&sort=refeid
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Els-Apikey:
      - DUMMY_API_KEY
      X-Els-Resourceversion:
      - XOCS
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Els-Status:
      - OK
      X-Els-Reqid:
      - 0000014fbd65b37c-1657ede
      X-Els-Apikey:
      - DUMMY_API_KEY
      X-Els-Transid:
      - a4b3185c-60c1-4574-9ef3-3d9ce7e1e8b2
      Allow:
      - GET
      Content-Type:
      - application/atom+xml;charset=UTF-8
      X-Re-Ref:
      - 1 -1608368997
    body:
      encoding: UTF-8
      string: |2+

        <feed xmlns="http://www.w3.org/2005/Atom" xmlns:cto="http://www.elsevier.com/xml/cto/dtd" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:prism="http://prismstandard.org/namespaces/basic/2.0/" xmlns:opensearch="http://a9.com/-/spec/opensearch/1.1/" xmlns:dc="http://purl.org/dc/elements/1.1/"><title>SCOPUS Search Results: monkey++brain+</title><updated>2015-09-17T20:54:49.023Z</updated><author><name>Elsevier, Inc.</name></author><id>http://api.elsevier.com:80/content/search/index:SCOPUS?&amp;count=10&amp;start=0&amp;query=monkey++brain+&amp;sort=refeid</id><opensearch:totalResults>288201</opensearch:totalResults><opensearch:startIndex>0</opensearch:startIndex><opensearch:itemsPerPage>10</opensearch:itemsPerPage><opensearch:Query role="request" searchTerms="monkey++brain+" startPage="0"/><link ref="self" href="http://api.elsevier.com:80/content/search/index:scopus?start=0&amp;count=10&amp;query=monkey++brain+&amp;sort=refeid" type="application/atom+xml"/><link ref="first" href="http://api.elsevier.com:80/content/search/index:scopus?start=0&amp;count=10&amp;query=monkey++brain+&amp;sort=refeid" type="application/atom+xml"/><link ref="next" href="http://api.elsevier.com:80/content/search/index:scopus?start=10&amp;count=10&amp;query=monkey++brain+&amp;sort=refeid" type="application/atom+xml"/><link ref="last" href="http://api.elsevier.com:80/content/search/index:scopus?start=4990&amp;count=10&amp;query=monkey++brain+&amp;sort=refeid" type="application/atom+xml"/><entry><link ref="self" href="http://api.elsevier.com/content/abstract/scopus_id:0032124433"/><link ref="author-affiliation" href="http://api.elsevier.com/content/abstract/scopus_id:0032124433?field=author,affiliation"/><link ref="scopus" href="http://www.scopus.com/inward/record.url?partnerID=HzOxMe3b&amp;scp=0032124433&amp;origin=inward"/><link ref="scopus-citedby" href="http://www.scopus.com/inward/citedby.url?partnerID=HzOxMe3b&amp;scp=0032124433&amp;origin=inward"/><prism:url>http://api.elsevier.com/content/abstract/scopus_id:0032124433</prism:url><dc:identifier>SCOPUS_ID:0032124433</dc:identifier><eid>2-s2.0-0032124433</eid><dc:title>How it is to be the brain of a monkey</dc:title><dc:creator>Krüger J.</dc:creator><prism:publicationName>Zeitschrift fur Naturforschung - Section C Journal of Biosciences</prism:publicationName><prism:issn>09395075</prism:issn><prism:volume>53</prism:volume><prism:issueIdentifier>7-8</prism:issueIdentifier><prism:pageRange>599-609</prism:pageRange><prism:coverDate>1998-07-01</prism:coverDate><prism:coverDisplayDate>July 1998</prism:coverDisplayDate><citedby-count>1</citedby-count><affiliation><affilname>AG Hirnforschung</affilname><affiliation-city>Freiburg</affiliation-city><affiliation-country>Germany</affiliation-country></affiliation><pubmed-id>9755514</pubmed-id><prism:aggregationType>Journal</prism:aggregationType><subtype>cp</subtype><subtypeDescription>Conference Paper</subtypeDescription><source-id>14954</source-id></entry><entry><link ref="self" href="http://api.elsevier.com/content/abstract/scopus_id:0033986040"/><link ref="author-affiliation" href="http://api.elsevier.com/content/abstract/scopus_id:0033986040?field=author,affiliation"/><link ref="scopus" href="http://www.scopus.com/inward/record.url?partnerID=HzOxMe3b&amp;scp=0033986040&amp;origin=inward"/><link ref="scopus-citedby" href="http://www.scopus.com/inward/citedby.url?partnerID=HzOxMe3b&amp;scp=0033986040&amp;origin=inward"/><link ref="full-text" href="http://api.elsevier.com/content/article/eid:1-s2.0-S0006899399021393"/><prism:url>http://api.elsevier.com/content/abstract/scopus_id:0033986040</prism:url><dc:identifier>SCOPUS_ID:0033986040</dc:identifier><eid>2-s2.0-0033986040</eid><dc:title>The distribution of neuropeptide Y and brain-derived neurotrophic factor immunoreactivity in hippocampal formation of the monkey and rat</dc:title><dc:creator>Iritani S.</dc:creator><prism:publicationName>Brain Research</prism:publicationName><prism:issn>00068993</prism:issn><prism:volume>852</prism:volume><prism:issueIdentifier>2</prism:issueIdentifier><prism:pageRange>475-478</prism:pageRange><prism:coverDate>2000-01-10</prism:coverDate><prism:coverDisplayDate>10 January 2000</prism:coverDisplayDate><prism:doi>10.1016/S0006-8993(99)02139-3</prism:doi><pii>S0006899399021393</pii><citedby-count>5</citedby-count><affiliation><affilname>Tokyo Metropol. Matsuzawa H.</affilname><affiliation-city>Tokyo</affiliation-city><affiliation-country>Japan</affiliation-country></affiliation><pubmed-id>10678776</pubmed-id><prism:aggregationType>Journal</prism:aggregationType><subtype>sh</subtype><subtypeDescription>Short Survey</subtypeDescription><source-id>14346</source-id></entry><entry><link ref="self" href="http://api.elsevier.com/content/abstract/scopus_id:1[...]
