---
http_interactions:
- request:
    method: get
    uri: http://api.elsevier.com/content/search/index:SCOPUS?count=10&query=TITLE(cancer)&sort=refeid
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Els-Apikey:
      - DUMMY_API_KEY
      X-Els-Resourceversion:
      - XOCS
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Els-Status:
      - OK
      X-Els-Reqid:
      - 0000014fbd65b37c-1657f18
      X-Els-Apikey:
      - DUMMY_API_KEY
      X-Els-Transid:
      - 08877c61-7c69-468a-bfd4-d9b40ae5315e
      Allow:
      - GET
      Content-Type:
      - application/atom+xml;charset=UTF-8
      X-Re-Ref:
      - 1 -1608368997
    body:
      encoding: UTF-8
      string: |2+

        <feed xmlns="http://www.w3.org/2005/Atom" xmlns:cto="http://www.elsevier.com/xml/cto/dtd" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:prism="http://prismstandard.org/namespaces/basic/2.0/" xmlns:opensearch="http://a9.com/-/spec/opensearch/1.1/" xmlns:dc="http://purl.org/dc/elements/1.1/"><title>SCOPUS Search Results: TITLE%28cancer%29</title><updated>2015-09-17T20:54:50.267Z</updated><author><name>Elsevier, Inc.</name></author><id>http://api.elsevier.com:80/content/search/index:SCOPUS?&amp;count=10&amp;start=0&amp;query=TITLE%28cancer%29&amp;sort=refeid</id><opensearch:totalResults>827018</opensearch:totalResults><opensearch:startIndex>0</opensearch:startIndex><opensearch:itemsPerPage>10</opensearch:itemsPerPage><opensearch:Query role="request" searchTerms="TITLE%28cancer%29" startPage="0"/><link ref="self" href="http://api.elsevier.com:80/content/search/index:scopus?start=0&amp;count=10&amp;query=TITLE%28cancer%29&amp;sort=refeid" type="application/atom+xml"/><link ref="first" href="http://api.elsevier.com:80/content/search/index:scopus?start=0&amp;count=10&amp;query=TITLE%28cancer%29&amp;sort=refeid" type="application/atom+xml"/><link ref="next" href="http://api.elsevier.com:80/content/search/index:scopus?start=10&amp;count=10&amp;query=TITLE%28cancer%29&amp;sort=refeid" type="application/atom+xml"/><link ref="last" href="http://api.elsevier.com:80/content/search/index:scopus?start=4990&amp;count=10&amp;query=TITLE%28cancer%29&amp;sort=refeid" type="application/atom+xml"/><entry><link ref="self" href="http://api.elsevier.com/content/abstract/scopus_id:84888411673"/><link ref="author-affiliation" href="http://api.elsevier.com/content/abstract/scopus_id:84888411673?field=author,affiliation"/><link ref="scopus" href="http://www.scopus.com/inward/record.url?partnerID=HzOxMe3b&amp;scp=84888411673&amp;origin=inward"/><link ref="scopus-citedby" href="http://www.scopus.com/inward/citedby.url?partnerID=HzOxMe3b&amp;scp=84888411673&amp;origin=inward"/><prism:url>http://api.elsevier.com/content/abstract/scopus_id:84888411673</prism:url><dc:identifier>SCOPUS_ID:84888411673</dc:identifier><eid>2-s2.0-84888411673</eid><dc:title>Biological influence of brain-derived neurotrophic factor (BDNF) on colon cancer cells</dc:title><dc:creator>Yang X.</dc:creator><prism:publicationName>Experimental and Therapeutic Medicine</prism:publicationName><prism:issn>17920981</prism:issn><prism:eIssn>17921015</prism:eIssn><prism:volume>6</prism:volume><prism:issueIdentifier>6</prism:issueIdentifier><prism:pageRange>1475-1481</prism:pageRange><prism:coverDate>2013-12-03</prism:coverDate><prism:coverDisplayDate>2013</prism:coverDisplayDate><prism:doi>10.3892/etm.2013.1330</prism:doi><citedby-count>3</citedby-count><affiliation><affilname>Cardiff University</affilname><affiliation-city>Cardiff</affiliation-city><affiliation-country>United Kingdom</affiliation-country></affiliation><affiliation><affilname>Capital Medical University China</affilname><affiliation-city>Beijing</affiliation-city><affiliation-country>China</affiliation-country></affiliation><affiliation><affilname>Capital Medical University China</affilname><affiliation-city>Beijing</affiliation-city><affiliation-country>China</affiliation-country></affiliation><prism:aggregationType>Journal</prism:aggregationType><subtype>ar</subtype><subtypeDescription>Article</subtypeDescription><source-id>19700176236</source-id></entry><entry><link ref="self" href="http://api.elsevier.com/content/abstract/scopus_id:84940734581"/><link ref="author-affiliation" href="http://api.elsevier.com/content/abstract/scopus_id:84940734581?field=author,affiliation"/><link ref="scopus" href="http://www.scopus.com/inward/record.url?partnerID=HzOxMe3b&amp;scp=84940734581&amp;origin=inward"/><link ref="scopus-citedby" href="http://www.scopus.com/inward/citedby.url?partnerID=HzOxMe3b&amp;scp=84940734581&amp;origin[...]
