---
http_interactions:
- request:
    method: get
    uri: http://api.elsevier.com/content/search/index:SCOPUS?count=10&query=cancer&sort=refeid
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Els-Apikey:
      - DUMMY_API_KEY
      X-Els-Resourceversion:
      - XOCS
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Els-Status:
      - OK
      X-Els-Reqid:
      - 0000014f72d218c9-4edd45c
      X-Els-Apikey:
      - DUMMY_API_KEY
      X-Els-Transid:
      - 5d5238cb-7a8c-4367-8aa2-83d3a051fc7c
      Allow:
      - GET
      Content-Type:
      - application/atom+xml;charset=UTF-8
      X-Re-Ref:
      - 1 -1608368997
    body:
      encoding: UTF-8
      string: |2+

        <feed xmlns="http://www.w3.org/2005/Atom" xmlns:cto="http://www.elsevier.com/xml/cto/dtd" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:prism="http://prismstandard.org/namespaces/basic/2.0/" xmlns:opensearch="http://a9.com/-/spec/opensearch/1.1/" xmlns:dc="http://purl.org/dc/elements/1.1/"><title>SCOPUS Search Results: cancer</title><updated>2015-09-17T20:54:51.558Z</updated><author><name>Elsevier, Inc.</name></author><id>http://api.elsevier.com:80/content/search/index:SCOPUS?&amp;count=10&amp;start=0&amp;query=cancer&amp;sort=refeid</id><opensearch:totalResults>4498809</opensearch:totalResults><opensearch:startIndex>0</opensearch:startIndex><opensearch:itemsPerPage>10</opensearch:itemsPerPage><opensearch:Query role="request" searchTerms="cancer" startPage="0"/><link ref="self" href="http://api.elsevier.com:80/content/search/index:scopus?start=0&amp;count=10&amp;query=cancer&amp;sort=refeid" type="application/atom+xml"/><link ref="first" href="http://api.elsevier.com:80/content/search/index:scopus?start=0&amp;count=10&amp;query=cancer&amp;sort=refeid" type="application/atom+xml"/><link ref="next" href="http://api.elsevier.com:80/content/search/index:scopus?start=10&amp;count=10&amp;query=cancer&amp;sort=refeid" type="application/atom+xml"/><link ref="last" href="http://api.elsevier.com:80/content/search/index:scopus?start=4990&amp;count=10&amp;query=cancer&amp;sort=refeid" type="application/atom+xml"/><entry><link ref="self" href="http://api.elsevier.com/content/abstract/scopus_id:84940734581"/><link ref="author-affiliation" href="http://api.elsevier.com/content/abstract/scopus_id:84940734581?field=author,affiliation"/><link ref="scopus" href="http://www.scopus.com/inward/record.url?partnerID=HzOxMe3b&amp;scp=84940734581&amp;origin=inward"/><link ref="scopus-citedby" href="http://www.scopus.com/inward/citedby.url?partnerID=HzOxMe3b&amp;scp=84940734581&amp;origin=inward"/><prism:url>http://api.elsevier.com/content/abstract/scopus_id:84940734581</prism:url><dc:identifier>SCOPUS_ID:84940734581</dc:identifier><eid>2-s2.0-84940734581</eid><dc:title>Human epidermal growth factor receptor 2 (HER2) impedes MLK3 kinase activity to support breast cancer cell survival</dc:title><dc:creator>Das S.</dc:creator><prism:publicationName>Journal of Biological Chemistry</prism:publicationName><prism:issn>00219258</prism:issn><prism:eIssn>1083351X</prism:eIssn><prism:volume>290</prism:volume><prism:issueIdentifier>35</prism:issueIdentifier><prism:pageRange>21705-21712</prism:pageRange><prism:coverDate>2015-08-28</prism:coverDate><prism:coverDisplayDate>28 August 2015</prism:coverDisplayDate><prism:doi>10.1074/jbc.M115.655563</prism:doi><citedby-count>0</citedby-count><affiliation><affilname>Loyola University of Chicago</affilname><affiliation-city>Chicago</affiliation-city><affiliation-country>United States</affiliation-country></affiliation><prism:aggregationType>Journal</prism:aggregationType><subtype>ar</subtype><subtypeDescription>Article</subtypeDescription><source-id>17592</source-id></entry><entry><link ref="self" href="http://api.elsevier.com/content/abstract/scopus_id:84888411673"/><link ref="author-affiliation" href="http://api.elsevier.com/content/abstract/scopus_id:84888411673?field=author,affiliation"/><link ref="scopus" href="http://www.scopus.com/inward/record.url?partnerID=HzOxMe3b&amp;scp=84888411673&amp;origin=inward"/><link ref="scopus-citedby" href="http://www.scopus.com/inward/citedby.url?partnerID=HzOxMe3b&amp;scp=84888411673&amp;origin=inwar[...]
