---
http_interactions:
- request:
    method: get
    uri: http://api.elsevier.com/content/search/index:SCOPUS?count=10&query=aldfjkadf%20lakdj%20zdfzzzz&sort=refeid
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Els-Apikey:
      - DUMMY_API_KEY
      X-Els-Resourceversion:
      - XOCS
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Els-Status:
      - NO_SEARCH_RESULTS(Result set was empty)
      X-Els-Reqid:
      - 0000014f72d218c9-4edd3d0
      X-Els-Apikey:
      - DUMMY_API_KEY
      X-Els-Transid:
      - a0fa9a66-4a95-4446-ae02-3149fec4ea15
      Allow:
      - GET
      Content-Type:
      - application/atom+xml;charset=UTF-8
      X-Re-Ref:
      - 1 -1608368997
    body:
      encoding: UTF-8
      string: '<feed xmlns="http://www.w3.org/2005/Atom" xmlns:atom="http://www.w3.org/2005/Atom"
        xmlns:prism="http://prismstandard.org/namespaces/basic/2.0/" xmlns:opensearch="http://a9.com/-/spec/opensearch/1.1/"
        xmlns:dc="http://purl.org/dc/elements/1.1/"><title>SCOPUS Search Results:
        aldfjkadf+lakdj+zdfzzzz</title><updated>2015-09-17T20:54:47.802Z</updated><author><name>Elsevier,
        Inc.</name></author><id>http://api.elsevier.com:80/content/search/index:SCOPUS?query=aldfjkadf+lakdj+zdfzzzz&amp;count=10&amp;start=0&amp;view=STANDARD&amp;field=&amp;query=aldfjkadf+lakdj+zdfzzzz&amp;sort=refeid</id><opensearch:totalResults>0</opensearch:totalResults><opensearch:startIndex>0</opensearch:startIndex><opensearch:itemsPerPage>0</opensearch:itemsPerPage><opensearch:Query
        role="request" searchTerms="aldfjkadf+lakdj+zdfzzzz" startPage="0"/><link
        ref="self" href="http://api.elsevier.com:80/content/search/index:SCOPUS?start=0&amp;count=10&amp;query=aldfjkadf+lakdj+zdfzzzz&amp;sort=refeid"
        type="application/atom+xml"/><entry><error>Result set was empty</error></entry></feed>'
  recorded_at: Thu, 17 Sep 2015 20:54:48 GMT
recorded_with: VCR 2.9.3
