---
http_interactions:
- request:
    method: post
    uri: https://eds-api.ebscohost.com/authservice/rest/uidauth
    body:
      encoding: UTF-8
      string: |2
              {
                "UserId":"DUMMY_USER_ID",
                "Password":"DUMMY_PWD"
              }
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"AuthToken":"ABwaI4lKTJacbcMoVc_x8JPbVI4keFgObht7IkN1c3RvbWVySWQiOiJzODk0NDc0MCIsIkdyb3VwSWQiOiJtYWluIn0","AuthTimeout":"1800"}'
  recorded_at: Mon, 24 Oct 2016 19:54:59 GMT
- request:
    method: get
    uri: http://eds-api.ebscohost.com/edsapi/rest/createsession?guest=n&profile=wsapi
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Authenticationtoken:
      - ABwaI4lKTJacbcMoVc_x8JPbVI4keFgObht7IkN1c3RvbWVySWQiOiJzODk0NDc0MCIsIkdyb3VwSWQiOiJtYWluIn0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      X-Sessiontoken:
      - f23796ef-26e8-4e9d-b754-401e6aa8a69d.uxX/9/HMGfN4XF+oChCc1bzpIqAg12j1r3tGpKTiLJg=
      X-Authenticationtoken:
      - ABwaI4lKTJacbcMoVc_x8JPbVI4keFgObht7IkN1c3RvbWVySWQiOiJzODk0NDc0MCIsIkdyb3VwSWQiOiJtYWluIn0
      X-Msg-Correlid:
      - b16d7a1e-9fb4-4919-aea9-c74b47c349c8
    body:
      encoding: UTF-8
      string: <CreateSessionResponseMessage xmlns="http://epnet.com/webservices/EbscoApi/Contracts"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><SessionToken>f23796ef-26e8-4e9d-b754-401e6aa8a69d.uxX/9/HMGfN4XF+oChCc1bzpIqAg12j1r3tGpKTiLJg=</SessionToken></CreateSessionResponseMessage>
  recorded_at: Mon, 24 Oct 2016 19:54:59 GMT
- request:
    method: get
    uri: http://eds-api.ebscohost.com/edsapi/rest/search?highlight=y&query=AND,cancer&resultsperpage=10&searchmode=all&view=detailed
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Authenticationtoken:
      - ABwaI4lKTJacbcMoVc_x8JPbVI4keFgObht7IkN1c3RvbWVySWQiOiJzODk0NDc0MCIsIkdyb3VwSWQiOiJtYWluIn0
      X-Sessiontoken:
      - f23796ef-26e8-4e9d-b754-401e6aa8a69d.uxX/9/HMGfN4XF+oChCc1bzpIqAg12j1r3tGpKTiLJg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      X-Sessiontoken:
      - f23796ef-26e8-4e9d-b754-401e6aa8a69d.uxX/9/HMGfN4XF+oChCc1bzpIqAg12j1r3tGpKTiLJg=
      X-Authenticationtoken:
      - ABwaI4lKTJacbcMoVc_x8JPbVI4keFgObht7IkN1c3RvbWVySWQiOiJzODk0NDc0MCIsIkdyb3VwSWQiOiJtYWluIn0
      X-Msg-Correlid:
      - 1c1fa3ca-0553-4458-a4ee-6183c0439a2b
    body:
      encoding: UTF-8
      string: '<SearchResponseMessageGet xmlns="http://epnet.com/webservices/EbscoApi/Contracts"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><SearchRequestGet><QueryString>query-1=AND,cancer&amp;sort=relevance&amp;includefacets=y&amp;searchmode=all&amp;autosuggest=n&amp;view=detailed&amp;resultsperpage=10&amp;pagenumber=1&amp;highlight=y</QueryString><SearchCriteriaWithActions><QueriesWithAction><QueryWithAction><Query><BooleanOperator>AND</BooleanOperator><Term>cancer</Term></Query><RemoveAction>removequery(1)</RemoveAction></QueryWithAction></QueriesWithAction></SearchCriteriaWithActions></SearchRequestGet><SearchResult><Statistics><TotalHits>1000956</TotalHits><TotalSearchTime>664</TotalSearchTime><Databases><Database><Id>bth</Id><Label>Business
        Source Complete</Label><Status>0</Status><Hits>61279</Hits></Database><Database><Id>a9h</Id><Label/><Status>0</Status><Hits>906230</Hits></Database><Database><Id>lpr</Id><Label>Index
        to Legal Periodicals Retrospective: 1908-1981 (H.W. Wilson)</Label><Status>0</Status><Hits>113</Hits></Database><Database><Id>edslex</Id><Label>LexisNexis
        Academic: Law Reviews</Label><Status>0</Status><Hits>1812</Hits></Database><Database><Id>edshol</Id><Label>HeinOnline</Label><Status>0</Status><Hits>349</Hits></Database><Database><Id>edsglt</Id><Label>InfoTrac
        LegalTrac</Label><Status>0</Status><Hits>1705</Hits></Database><Database><Id>edsjsr</Id><Label>JSTOR
        Journals</Label><Status>0</Status><Hits>29462</Hits></Database><Database><Id>ir00629a</Id><Label>FLASH
        (Institutional Repository)</Label><Status>0</Status><Hits>6</Hits></Database></Databases></Statistics><Data><RecordFormat>EP
        Display</RecordFormat><Records><Record><ResultId>1</ResultId><Header><DbId>bth</DbId><DbLabel>Business
        Source Complete</DbLabel><An>108395096</An><RelevancyScore>2174</RelevancyScore><PubType>Academic
        Journal</PubType><PubTypeId>academicJournal</PubTypeId></Header><PLink>http://0-search.ebscohost.com.lawpac.lawnet.fordham.edu/login.aspx?direct=true&amp;site=eds-live&amp;db=bth&amp;AN=108395096</PLink><FullText><Links><Link><Type>pdflink</Type></Link></Links><Text><Availability>0</Availability></Text></FullText><Items><Item><Name>Title</Name><Label>Title</Label><Group>Ti</Group><Data>WORK
        CONTINUATION WHILE TREATED FOR BREAST &lt;highlight&gt;CANCER&lt;/highlight&gt;:
        THE ROLE OF WORKPLACE ACCOMMODATIONS.</Data></Item><Item><Name>Author</Name><Label>Authors</Label><Group>Au</Group><Data>&lt;searchLink
        fieldCode="AR" term="%22NEUMARK%2C+DAVID%22"&gt;NEUMARK, DAVID&lt;/searchLink&gt;&lt;relatesTo&gt;1,2,3&lt;/relatesTo&gt;&lt;br
        /&gt;&lt;searchLink fieldCode="AR" term="%22BRADLEY%2C+CATHY+J%2E%22"&gt;BRADLEY,
        CATHY J.&lt;[...]
- request:
    method: get
    uri: http://eds-api.ebscohost.com/edsapi/rest/endsession?sessiontoken=f23796ef-26e8-4e9d-b754-401e6aa8a69d.uxX/9/HMGfN4XF%2BoChCc1bzpIqAg12j1r3tGpKTiLJg=
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Authenticationtoken:
      - ABwaI4lKTJacbcMoVc_x8JPbVI4keFgObht7IkN1c3RvbWVySWQiOiJzODk0NDc0MCIsIkdyb3VwSWQiOiJtYWluIn0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      X-Authenticationtoken:
      - ABwaI4lKTJacbcMoVc_x8JPbVI4keFgObht7IkN1c3RvbWVySWQiOiJzODk0NDc0MCIsIkdyb3VwSWQiOiJtYWluIn0
      X-Msg-Correlid:
      - 3b3cddb2-3134-4c3a-bc72-e2499488a867
    body:
      encoding: UTF-8
      string: <EndSessionResponse xmlns="http://epnet.com/webservices/EbscoApi/Contracts"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><IsSuccessful>y</IsSuccessful></EndSessionResponse>
  recorded_at: Mon, 24 Oct 2016 19:55:01 GMT
recorded_with: VCR 2.9.3
