---
http_interactions:
- request:
    method: post
    uri: https://eds-api.ebscohost.com/authservice/rest/uidauth
    body:
      encoding: UTF-8
      string: |2
              {
                "UserId":"DUMMY_USER_ID",
                "Password":"DUMMY_PWD"
              }
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"AuthToken":"AB0djQtOJirfv7SIDlZ0QHowRCVRtVhJrgl7IkN1c3RvbWVySWQiOiJzODk0NDc0MCIsIkdyb3VwSWQiOiJtYWluIn0","AuthTimeout":"1800"}'
  recorded_at: Thu, 08 Dec 2016 18:31:29 GMT
- request:
    method: get
    uri: http://eds-api.ebscohost.com/edsapi/rest/createsession?guest=n&profile=wsapi
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Authenticationtoken:
      - AB0djQtOJirfv7SIDlZ0QHowRCVRtVhJrgl7IkN1c3RvbWVySWQiOiJzODk0NDc0MCIsIkdyb3VwSWQiOiJtYWluIn0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      X-Sessiontoken:
      - c88b399d-ab46-49ea-8804-729b88d90b29.7ihrDv9DNEGoepQp99O/CpAgfE+DevS0jI0ZVYjGWP0=
      X-Authenticationtoken:
      - AB0djQtOJirfv7SIDlZ0QHowRCVRtVhJrgl7IkN1c3RvbWVySWQiOiJzODk0NDc0MCIsIkdyb3VwSWQiOiJtYWluIn0
      X-Msg-Correlid:
      - 387352fa-8364-4db3-ae6b-7b2dc7786db1
    body:
      encoding: UTF-8
      string: <CreateSessionResponseMessage xmlns="http://epnet.com/webservices/EbscoApi/Contracts"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><SessionToken>c88b399d-ab46-49ea-8804-729b88d90b29.7ihrDv9DNEGoepQp99O/CpAgfE+DevS0jI0ZVYjGWP0=</SessionToken></CreateSessionResponseMessage>
  recorded_at: Thu, 08 Dec 2016 18:31:29 GMT
- request:
    method: get
    uri: http://eds-api.ebscohost.com/edsapi/rest/search?highlight=y&query=AND,New%20York%20exposed%20the%20gilded%20age%20police%20scandal%20that%20launched%20the%20progressive%20era%20Daniel%20Czitrom&resultsperpage=10&searchmode=all&view=detailed
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Authenticationtoken:
      - AB0djQtOJirfv7SIDlZ0QHowRCVRtVhJrgl7IkN1c3RvbWVySWQiOiJzODk0NDc0MCIsIkdyb3VwSWQiOiJtYWluIn0
      X-Sessiontoken:
      - c88b399d-ab46-49ea-8804-729b88d90b29.7ihrDv9DNEGoepQp99O/CpAgfE+DevS0jI0ZVYjGWP0=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      X-Sessiontoken:
      - c88b399d-ab46-49ea-8804-729b88d90b29.7ihrDv9DNEGoepQp99O/CpAgfE+DevS0jI0ZVYjGWP0=
      X-Authenticationtoken:
      - AB0djQtOJirfv7SIDlZ0QHowRCVRtVhJrgl7IkN1c3RvbWVySWQiOiJzODk0NDc0MCIsIkdyb3VwSWQiOiJtYWluIn0
      X-Msg-Correlid:
      - 70854b2f-75b7-4ec8-8ff6-0928dd2d9e19
    body:
      encoding: UTF-8
      string: '<SearchResponseMessageGet xmlns="http://epnet.com/webservices/EbscoApi/Contracts"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><SearchRequestGet><QueryString>query-1=AND,New+York+exposed+the+gilded+age+police+scandal+that+launched+the+progressive+era+Daniel+Czitrom&amp;sort=relevance&amp;includefacets=y&amp;searchmode=all&amp;autosuggest=n&amp;view=detailed&amp;resultsperpage=10&amp;pagenumber=1&amp;highlight=y</QueryString><SearchCriteriaWithActions><QueriesWithAction><QueryWithAction><Query><BooleanOperator>AND</BooleanOperator><Term>New
        York exposed the gilded age police scandal that launched the progressive era
        Daniel Czitrom</Term></Query><RemoveAction>removequery(1)</RemoveAction></QueryWithAction></QueriesWithAction></SearchCriteriaWithActions></SearchRequestGet><SearchResult><Statistics><TotalHits>2</TotalHits><TotalSearchTime>207</TotalSearchTime><Databases><Database><Id>bth</Id><Label>Business
        Source Complete</Label><Status>0</Status><Hits>0</Hits></Database><Database><Id>a9h</Id><Label/><Status>0</Status><Hits>1</Hits></Database><Database><Id>lpr</Id><Label>Index
        to Legal Periodicals Retrospective: 1908-1981 (H.W. Wilson)</Label><Status>0</Status><Hits>0</Hits></Database><Database><Id>edshvr</Id><Label>Hoover''s
        Company Profiles</Label><Status>0</Status><Hits>0</Hits></Database><Database><Id>edslex</Id><Label>LexisNexis
        Academic: Law Reviews</Label><Status>0</Status><Hits>0</Hits></Database><Database><Id>edshol</Id><Label>HeinOnline</Label><Status>0</Status><Hits>0</Hits></Database><Database><Id>ir00629a</Id><Label>FLASH
        (Institutional Repository)</Label><Status>0</Status><Hits>0</Hits></Database><Database><Id>edsglt</Id><Label>InfoTrac
        LegalTrac</Label><Status>0</Status><Hits>0</Hits></Database><Database><Id>edsjsr</Id><Label>JSTOR
        Journals</Label><Status>0</Status><Hits>0</Hits></Database><Database><Id>edsgml</Id><Label>Making
        of Modern Law</Label><Status>0</Status><Hits>0</Hits></Database><Database><Id>edslmc</Id><Label>LLMC
        Digital</Label><Status>0</Status><Hits>0</Hits></Database><Database><Id>cat05341a</Id><Label>The
        Maloney Library</Label><Status>0</Status><Hits>1</Hits></Database></Databases></Statistics><Data><RecordFormat>EP
        Display</RecordFormat><Records><Record><ResultId>1</ResultId><Header><DbId>cat05341a</DbId><DbLabel>The
        Maloney Library</DbLabel><An>ford.b625775</An><RelevancyScore>1956</RelevancyScore><PubType>Book</PubType><PubTypeId>book</PubTypeId></Header><PLink>http://0-search.ebscohost.com.lawpac.lawnet.fordham.edu/login.aspx?direct=true&amp;site=eds-live&amp;db=cat05341a&amp;AN=ford.b625775</PLink><ImageInfo><CoverArt><Size>thumb</Size><Target>http://contentcafe2.btol.com/ContentCafe/jacket.aspx?UserID=ebsco-test&amp;Password=ebsco-test&amp;Return=T&amp;Type=S&amp;Value=9780199837007</Target></CoverArt><CoverArt><Size>medium</Size><Target>http://contentcafe2.btol.com/ContentCafe/jacket.aspx?UserID=ebsco-test&amp;Password=ebsco-test&amp;Return=T&amp;Type=M&amp;Value=9780199837007</Target></CoverArt></ImageInfo><FullText><Text><Availability>0</Availability></Text></FullText><Items><Item><Name>Title</Name><Label>Title</Label><Group>Ti</Group><Data>&lt;highlight&gt;New&lt;/highlight&gt;
        &lt;highlight&gt;York&lt;/highlight&gt; &lt;highlight&gt;exposed&lt;/highlight&gt;
        : &lt;highlight&gt;the&lt;/highlight&gt; &lt;highlight&gt;gilded&lt;/highlight&gt;
        &lt;highlight&gt;age&lt;/highlight&gt; &lt;highlight&gt;police&lt;/highlight&gt;
        &lt;highlight&gt;scandal&lt;/highlight&gt; &lt;highlight&gt;that&lt;/highlight&gt;
        &lt;highlight&gt;launched&lt;/highlight&gt; &lt;highlight&gt;the&lt;/highli[...]
- request:
    method: get
    uri: http://eds-api.ebscohost.com/edsapi/rest/endsession?sessiontoken=c88b399d-ab46-49ea-8804-729b88d90b29.7ihrDv9DNEGoepQp99O/CpAgfE%2BDevS0jI0ZVYjGWP0=
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Authenticationtoken:
      - AB0djQtOJirfv7SIDlZ0QHowRCVRtVhJrgl7IkN1c3RvbWVySWQiOiJzODk0NDc0MCIsIkdyb3VwSWQiOiJtYWluIn0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      X-Authenticationtoken:
      - AB0djQtOJirfv7SIDlZ0QHowRCVRtVhJrgl7IkN1c3RvbWVySWQiOiJzODk0NDc0MCIsIkdyb3VwSWQiOiJtYWluIn0
      X-Msg-Correlid:
      - 979d10a8-7881-4a0e-a232-38553997ff53
    body:
      encoding: UTF-8
      string: <EndSessionResponse xmlns="http://epnet.com/webservices/EbscoApi/Contracts"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><IsSuccessful>y</IsSuccessful></EndSessionResponse>
  recorded_at: Thu, 08 Dec 2016 18:31:30 GMT
recorded_with: VCR 2.9.3
