---
http_interactions:
- request:
    method: post
    uri: https://eds-api.ebscohost.com/authservice/rest/uidauth
    body:
      encoding: UTF-8
      string: |2
              {
                "UserId":"DUMMY_USER_ID",
                "Password":"DUMMY_PWD"
              }
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"AuthToken":"AB0ECKkoSn0X6hTuX8dkJM18AW_3WVhJx957IkN1c3RvbWVySWQiOiJzODk0NDc0MCIsIkdyb3VwSWQiOiJtYWluIn0","AuthTimeout":"1800"}'
  recorded_at: Thu, 08 Dec 2016 20:21:42 GMT
- request:
    method: get
    uri: http://eds-api.ebscohost.com/edsapi/rest/createsession?guest=n&profile=wsapi
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Authenticationtoken:
      - AB0ECKkoSn0X6hTuX8dkJM18AW_3WVhJx957IkN1c3RvbWVySWQiOiJzODk0NDc0MCIsIkdyb3VwSWQiOiJtYWluIn0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      X-Sessiontoken:
      - 76e036da-3e1a-473b-a88b-8312df018df3.tfSJGmfljb2oi0RBrWTTnCl4OcAEr9eSPH2kl+0lrxw=
      X-Authenticationtoken:
      - AB0ECKkoSn0X6hTuX8dkJM18AW_3WVhJx957IkN1c3RvbWVySWQiOiJzODk0NDc0MCIsIkdyb3VwSWQiOiJtYWluIn0
      X-Msg-Correlid:
      - 4a895196-6917-4ea5-8377-c755cf6e9f20
    body:
      encoding: UTF-8
      string: <CreateSessionResponseMessage xmlns="http://epnet.com/webservices/EbscoApi/Contracts"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><SessionToken>76e036da-3e1a-473b-a88b-8312df018df3.tfSJGmfljb2oi0RBrWTTnCl4OcAEr9eSPH2kl+0lrxw=</SessionToken></CreateSessionResponseMessage>
  recorded_at: Thu, 08 Dec 2016 20:21:42 GMT
- request:
    method: get
    uri: http://eds-api.ebscohost.com/edsapi/rest/search?highlight=y&query=AND,Stakeholder%20forum%20on%20federal%20wetlands%20mitigation%20environmental%20law%20institute&resultsperpage=10&searchmode=all&view=detailed
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Authenticationtoken:
      - AB0ECKkoSn0X6hTuX8dkJM18AW_3WVhJx957IkN1c3RvbWVySWQiOiJzODk0NDc0MCIsIkdyb3VwSWQiOiJtYWluIn0
      X-Sessiontoken:
      - 76e036da-3e1a-473b-a88b-8312df018df3.tfSJGmfljb2oi0RBrWTTnCl4OcAEr9eSPH2kl+0lrxw=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      X-Sessiontoken:
      - 76e036da-3e1a-473b-a88b-8312df018df3.tfSJGmfljb2oi0RBrWTTnCl4OcAEr9eSPH2kl+0lrxw=
      X-Authenticationtoken:
      - AB0ECKkoSn0X6hTuX8dkJM18AW_3WVhJx957IkN1c3RvbWVySWQiOiJzODk0NDc0MCIsIkdyb3VwSWQiOiJtYWluIn0
      X-Msg-Correlid:
      - f426246d-c726-4b34-80da-1e1939cca310
    body:
      encoding: UTF-8
      string: '<SearchResponseMessageGet xmlns="http://epnet.com/webservices/EbscoApi/Contracts"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><SearchRequestGet><QueryString>query-1=AND,Stakeholder+forum+on+federal+wetlands+mitigation+environmental+law+institute&amp;sort=relevance&amp;includefacets=y&amp;searchmode=all&amp;autosuggest=n&amp;view=detailed&amp;resultsperpage=10&amp;pagenumber=1&amp;highlight=y</QueryString><SearchCriteriaWithActions><QueriesWithAction><QueryWithAction><Query><BooleanOperator>AND</BooleanOperator><Term>Stakeholder
        forum on federal wetlands mitigation environmental law institute</Term></Query><RemoveAction>removequery(1)</RemoveAction></QueryWithAction></QueriesWithAction></SearchCriteriaWithActions></SearchRequestGet><SearchResult><Statistics><TotalHits>1</TotalHits><TotalSearchTime>469</TotalSearchTime><Databases><Database><Id>bth</Id><Label>Business
        Source Complete</Label><Status>0</Status><Hits>0</Hits></Database><Database><Id>a9h</Id><Label/><Status>0</Status><Hits>0</Hits></Database><Database><Id>lpr</Id><Label>Index
        to Legal Periodicals Retrospective: 1908-1981 (H.W. Wilson)</Label><Status>0</Status><Hits>0</Hits></Database><Database><Id>edshvr</Id><Label>Hoover''s
        Company Profiles</Label><Status>0</Status><Hits>0</Hits></Database><Database><Id>edslex</Id><Label>LexisNexis
        Academic: Law Reviews</Label><Status>0</Status><Hits>0</Hits></Database><Database><Id>edshol</Id><Label>HeinOnline</Label><Status>0</Status><Hits>0</Hits></Database><Database><Id>ir00629a</Id><Label>FLASH
        (Institutional Repository)</Label><Status>0</Status><Hits>0</Hits></Database><Database><Id>edsglt</Id><Label>InfoTrac
        LegalTrac</Label><Status>0</Status><Hits>0</Hits></Database><Database><Id>edsjsr</Id><Label>JSTOR
        Journals</Label><Status>0</Status><Hits>0</Hits></Database><Database><Id>edsgml</Id><Label>Making
        of Modern Law</Label><Status>0</Status><Hits>0</Hits></Database><Database><Id>edslmc</Id><Label>LLMC
        Digital</Label><Status>0</Status><Hits>0</Hits></Database><Database><Id>cat05341a</Id><Label>The
        Maloney Library</Label><Status>0</Status><Hits>1</Hits></Database></Databases></Statistics><Data><RecordFormat>EP
        Display</RecordFormat><Records><Record><ResultId>1</ResultId><Header><DbId>cat05341a</DbId><DbLabel>The
        Maloney Library</DbLabel><An>ford.b472115</An><RelevancyScore>1792</RelevancyScore><PubType>eBook</PubType><PubTypeId>ebook</PubTypeId></Header><PLink>http://0-search.ebscohost.com.lawpac.lawnet.fordham.edu/login.aspx?direct=true&amp;site=eds-live&amp;db=cat05341a&amp;AN=ford.b472115</PLink><FullText><Text><Availability>0</Availability></Text></FullText><Items><Item><Name>Title</Name><Label>Title</Label><Group>Ti</Group><Data>&lt;highlight&gt;Stakeholder&lt;/highlight&gt;
        &lt;highlight&gt;forum&lt;/highlight&gt; &lt;highlight&gt;on&lt;/highlight&gt;
        &lt;highlight&gt;federal&lt;/highlight&gt; &lt;highlight&gt;wetlands&lt;/highlight&gt;
        &lt;highlight&gt;mitigation&lt;/highlight&gt; [electronic resource] : &lt;highlight&gt;forum&lt;/highlight&gt;
        report / by the &lt;highlight&gt;Environmental&lt;/highlight&gt; &lt;highlight&gt;Law&lt;/highlight&gt;
        &lt;highlight&gt[...]
- request:
    method: get
    uri: http://eds-api.ebscohost.com/edsapi/rest/endsession?sessiontoken=76e036da-3e1a-473b-a88b-8312df018df3.tfSJGmfljb2oi0RBrWTTnCl4OcAEr9eSPH2kl%2B0lrxw=
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Authenticationtoken:
      - AB0ECKkoSn0X6hTuX8dkJM18AW_3WVhJx957IkN1c3RvbWVySWQiOiJzODk0NDc0MCIsIkdyb3VwSWQiOiJtYWluIn0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      X-Authenticationtoken:
      - AB0ECKkoSn0X6hTuX8dkJM18AW_3WVhJx957IkN1c3RvbWVySWQiOiJzODk0NDc0MCIsIkdyb3VwSWQiOiJtYWluIn0
      X-Msg-Correlid:
      - e3f294dd-07fe-4b78-998b-4e97b2017d2b
    body:
      encoding: UTF-8
      string: <EndSessionResponse xmlns="http://epnet.com/webservices/EbscoApi/Contracts"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><IsSuccessful>y</IsSuccessful></EndSessionResponse>
  recorded_at: Thu, 08 Dec 2016 20:21:43 GMT
recorded_with: VCR 2.9.3
