---
http_interactions:
- request:
    method: post
    uri: https://eds-api.ebscohost.com/authservice/rest/uidauth
    body:
      encoding: UTF-8
      string: |2
              {
                "UserId":"DUMMY_USER_ID",
                "Password":"DUMMY_PWD"
              }
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"AuthToken":"ABw8Bz-zMdzAJUjyy8YxJLzD2nRNiFgObh17IkN1c3RvbWVySWQiOiJzODk0NDc0MCIsIkdyb3VwSWQiOiJtYWluIn0","AuthTimeout":"1800"}'
  recorded_at: Mon, 24 Oct 2016 19:55:01 GMT
recorded_with: VCR 2.9.3
