---
http_interactions:
- request:
    method: post
    uri: https://eds-api.ebscohost.com/authservice/rest/uidauth
    body:
      encoding: UTF-8
      string: |2
              {
                "UserId":"DUMMY_USER_ID",
                "Password":"DUMMY_PWD"
              }
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"AuthToken":"ABw8Bz-zMdzAJUjyy8YxJLzD2nRNiFgObh17IkN1c3RvbWVySWQiOiJzODk0NDc0MCIsIkdyb3VwSWQiOiJtYWluIn0","AuthTimeout":"1800"}'
  recorded_at: Mon, 24 Oct 2016 19:55:01 GMT
- request:
    method: get
    uri: http://eds-api.ebscohost.com/edsapi/rest/createsession?guest=y&profile=wsapi
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Authenticationtoken:
      - ABw8Bz-zMdzAJUjyy8YxJLzD2nRNiFgObh17IkN1c3RvbWVySWQiOiJzODk0NDc0MCIsIkdyb3VwSWQiOiJtYWluIn0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      X-Sessiontoken:
      - f8cd3b61-21a0-4f0b-bde4-c25ba40347bf.W56Zkt8Gvo2lSjrDGiK2DlILyINp1XDNzm8lckUGr/U=
      X-Authenticationtoken:
      - ABw8Bz-zMdzAJUjyy8YxJLzD2nRNiFgObh17IkN1c3RvbWVySWQiOiJzODk0NDc0MCIsIkdyb3VwSWQiOiJtYWluIn0
      X-Msg-Correlid:
      - 9dd5f40e-f1be-4350-8885-0af2cf6e42e9
    body:
      encoding: UTF-8
      string: <CreateSessionResponseMessage xmlns="http://epnet.com/webservices/EbscoApi/Contracts"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><SessionToken>f8cd3b61-21a0-4f0b-bde4-c25ba40347bf.W56Zkt8Gvo2lSjrDGiK2DlILyINp1XDNzm8lckUGr/U=</SessionToken></CreateSessionResponseMessage>
  recorded_at: Mon, 24 Oct 2016 19:55:01 GMT
- request:
    method: get
    uri: http://eds-api.ebscohost.com/edsapi/rest/info
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Authenticationtoken:
      - BAD
      X-Sessiontoken:
      - f8cd3b61-21a0-4f0b-bde4-c25ba40347bf.W56Zkt8Gvo2lSjrDGiK2DlILyINp1XDNzm8lckUGr/U=
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <APIErrorMessage xmlns="http://epnet.com/webservices/EbscoApi" xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><DetailedErrorDescription>Invalid Authentication Token.
        Please generate a new one.</DetailedErrorDescription><ErrorDescription>Auth
        Token Invalid</ErrorDescription><ErrorNumber>104</ErrorNumber></APIErrorMessage>
  recorded_at: Mon, 24 Oct 2016 19:55:01 GMT
[...]
- request:
    method: get
    uri: http://eds-api.ebscohost.com/edsapi/rest/info
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Authenticationtoken:
      - ABw8Bz-zMdzAJUjyy8YxJLzD2nRNiFgObh17IkN1c3RvbWVySWQiOiJzODk0NDc0MCIsIkdyb3VwSWQiOiJtYWluIn0
      X-Sessiontoken:
      - f8cd3b61-21a0-4f0b-bde4-c25ba40347bf.W56Zkt8Gvo2lSjrDGiK2DlILyINp1XDNzm8lckUGr/U=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      X-Sessiontoken:
      - f8cd3b61-21a0-4f0b-bde4-c25ba40347bf.W56Zkt8Gvo2lSjrDGiK2DlILyINp1XDNzm8lckUGr/U=
      X-Authenticationtoken:
      - ABw8Bz-zMdzAJUjyy8YxJLzD2nRNiFgObh17IkN1c3RvbWVySWQiOiJzODk0NDc0MCIsIkdyb3VwSWQiOiJtYWluIn0
      X-Msg-Correlid:
      - a9f1c900-ecdd-4b85-8e96-749a704d333c
    body:
      encoding: UTF-8
      string: <InfoResponseMessage xmlns="http://epnet.com/webservices/EbscoApi/Contracts"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><AvailableSearchCriteria><AvailableSorts><AvailableSort><Id>date</Id><Label>Date
        Newest</Label><AddAction>setsort(date)</AddAction></AvailableSort><AvailableSort><Id>date2</Id><Label>Date
        Oldest</Label><AddAction>setsort(date2)</AddAction></AvailableSort><AvailableSort><Id>author</Id><Label>Author</Label><AddAction>setsort(author)</AddAction></AvailableSort><AvailableSort><Id>relevance</Id><Label>Relevance</Label><AddAction>setsort(relevance)</AddAction></AvailableSort></AvailableSorts><AvailableSearchFields><AvailableSearchField><FieldCode>TX</FieldCode><Label>All
        Text</Label></AvailableSearchField><AvailableSearchField><FieldCode>AU</FieldCode><Label>Author</Label></AvailableSearchField><AvailableSearchField><FieldCode>TI</FieldCode><Label>Title</Label></AvailableSearchField><AvailableSearchField><FieldCode>SU</FieldCode><Label>Subject
        Terms</Label></AvailableSearchField><AvailableSearchField><FieldCode>SO</FieldCode><Label>Source</Label></AvailableSearchField><AvailableSearchField><FieldCode>AB</FieldCode><Label>Abstract</Label></AvailableSearchField><AvailableSearchField><FieldCode>IS</FieldCode><Label>ISSN</Label></AvailableSearchField><AvailableSearchField><FieldCode>IB</FieldCode><Label>ISBN</Label></AvailableSearchField></AvailableSearchFields><AvailableExpanders><AvailableExpander><Id>relatedsubjects</Id><Label>Apply
        equivalent subjects</Label><AddAction>addexpander(relatedsubjects)</AddAction><DefaultOn>n</DefaultOn></AvailableExpander><AvailableExpander><Id>thesaurus</Id><Label>Apply
        related words</Label><AddAction>addexpander(thesaurus)</AddAction><DefaultOn>n</DefaultOn></AvailableExpander><AvailableExpander><Id>fulltext</Id><Label>Also
        search within the full text of the articles</Label><AddAction>addexpander(fulltext)</AddAction><DefaultOn>y</DefaultOn></AvailableExpander></AvailableExpanders><AvailableLimiters><AvailableLimiter><Id>FT</Id><Label>Full
        Text</Label><Type>select</Type><AddAction>addlimiter(FT:value)</AddAction><DefaultOn>n</DefaultOn><Order>1</Order></AvailableLimiter><AvailableLimiter><Id>FR</Id><Label>References
        Available</Label><Type>select</Type><AddAction>addlimiter(FR:value)</AddAction><DefaultOn>n</DefaultOn><Order>2</Order></AvailableLimiter><AvailableLimiter><Id>RV</Id><Label>Scholarly
        (Peer Reviewed) Journals</Label><Type>select</Type><AddAction>addlimiter(RV:value)</AddAction><DefaultOn>n</DefaultOn><Order>3</Order></AvailableLimiter><AvailableLimiter><Id>DT1</Id><Label>Published
        Date</Label><Type>ymrange</Type><AddAction>addlimiter(DT1:value)</AddAction><DefaultOn>n</DefaultOn><Order>4</Order></AvailableLimiter><AvailableLimiter><Id>GZ</Id><Label>Collection</Label><Type>multiselectvalue</Type><LimiterValues><LimiterValue><Value>Alumni
        Events</Value><AddAction>addlimiter(GZ:Alumni Events)</AddAction></LimiterValue><LimiterValue><Value>Anniversaries</Value><AddAction>addlimiter(GZ:Anniversaries)</AddAction></LimiterValue><LimiterValue><Value>Center
        on Law and Information Policy</Value><AddAction>addlimiter(GZ:Center on Law
        and Information Policy)</AddAction></LimiterValue><LimiterValue><Value>Collins
        Auditorium, Rose Hill (1905)</Value><AddAction>addlimiter(GZ:Collins Auditorium\,
        [...]
- request:
    method: get
    uri: http://eds-api.ebscohost.com/edsapi/rest/endsession?sessiontoken=f8cd3b61-21a0-4f0b-bde4-c25ba40347bf.W56Zkt8Gvo2lSjrDGiK2DlILyINp1XDNzm8lckUGr/U=
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Authenticationtoken:
      - ABw8Bz-zMdzAJUjyy8YxJLzD2nRNiFgObh17IkN1c3RvbWVySWQiOiJzODk0NDc0MCIsIkdyb3VwSWQiOiJtYWluIn0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      X-Authenticationtoken:
      - ABw8Bz-zMdzAJUjyy8YxJLzD2nRNiFgObh17IkN1c3RvbWVySWQiOiJzODk0NDc0MCIsIkdyb3VwSWQiOiJtYWluIn0
      X-Msg-Correlid:
      - db847e5f-273f-4821-b045-709f884fc1e2
    body:
      encoding: UTF-8
      string: <EndSessionResponse xmlns="http://epnet.com/webservices/EbscoApi/Contracts"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><IsSuccessful>y</IsSuccessful></EndSessionResponse>
  recorded_at: Mon, 24 Oct 2016 19:55:01 GMT
recorded_with: VCR 2.9.3
