---
http_interactions:
- request:
    method: post
    uri: https://eds-api.ebscohost.com/authservice/rest/uidauth
    body:
      encoding: UTF-8
      string: ! "      {\n        \"UserId\":\"bad\",\n        \"Password\":\"bad\"\n
        \     }\n"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Dynatrace:
      - PT=14324;PA=-436361037;PS=-760194407
      Dynatrace:
      - PT=14324;PA=-436361037;PS=-760194407
    body:
      encoding: US-ASCII
      string: ! '{"ErrorCode":1102,"Reason":"Invalid Credentials.","AdditionalDetail":null}'
  recorded_at: Thu, 02 Aug 2012 18:54:53 GMT
recorded_with: VCR 2.2.4
