---
http_interactions:
- request:
    method: post
    uri: https://eds-api.ebscohost.com/authservice/rest/uidauth
    body:
      encoding: UTF-8
      string: ! "      {\n        \"UserId\":\"DUMMY_USER_ID\",\n        \"Password\":\"DUMMY_PWD\"\n
        \     }\n"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/JSON; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"AuthToken":"8a5ad95a-cc1d-408c-8f14-af5016a8d146","AuthTimeout":"1800"}'
  recorded_at: Mon, 06 Aug 2012 23:07:54 GMT
- request:
    method: post
    uri: https://eds-api.ebscohost.com/authservice/rest/uidauth
    body:
      encoding: UTF-8
      string: ! "      {\n        \"UserId\":\"DUMMY_USER_ID\",\n        \"Password\":\"DUMMY_PWD\"\n
        \     }\n"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/JSON; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"AuthToken":"76529f8e-ad33-419d-8315-a383b1fa57d9","AuthTimeout":"1800"}'
  recorded_at: Mon, 06 Aug 2012 23:08:26 GMT
recorded_with: VCR 2.2.4
