---
http_interactions:
- request:
    method: get
    uri: http://www.worldcat.org/webservices/catalog/search/sru?maximumRecords=10&query=srw.no%20=%20%22NOT%22%20AND%20srw.no%20=%20%22EXISTING%22&recordSchema=info:srw/schema/1/dc&wskey=DUMMY_API_KEY
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="no"?>
        <?xml-stylesheet type='text/xsl' href='/webservices/catalog/xsl/searchRetrieveResponse.xsl'?>

        <searchRetrieveResponse xmlns="http://www.loc.gov/zing/srw/" xmlns:oclcterms="http://purl.org/oclc/terms/" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:diag="http://www.loc.gov/zing/srw/diagnostic/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <version>1.1</version>
        <numberOfRecords>0</numberOfRecords>
        <echoedSearchRetrieveRequest xmlns:srw="http://www.loc.gov/zing/srw/">
        <version>1.1</version>
        <query>srw.no = "NOT" AND srw.no = "EXISTING"</query>
        <maximumRecords>10</maximumRecords>
        <recordSchema>info:srw/schema/1/dc</recordSchema>
        <recordPacking>xml</recordPacking>
        <startRecord>1</startRecord>
        <sortKeys>relevance</sortKeys>
        <wskey>DUMMY_API_KEY</wskey>
        </echoedSearchRetrieveRequest>
        </searchRetrieveResponse>
  recorded_at: Mon, 21 Sep 2015 14:47:59 GMT
recorded_with: VCR 2.9.3
