---
http_interactions:
- request:
    method: get
    uri: http://www.worldcat.org/webservices/catalog/search/sru?maximumRecords=10&query=srw.kw%20=%20%22cancer%22&recordSchema=info:srw/schema/1/dc&startRecord=9999&wskey=DUMMY_API_KEY
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="no"?>
        <?xml-stylesheet type='text/xsl' href='/webservices/catalog/xsl/searchRetrieveResponse.xsl'?>

        <searchRetrieveResponse xmlns="http://www.loc.gov/zing/srw/" xmlns:oclcterms="http://purl.org/oclc/terms/" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:diag="http://www.loc.gov/zing/srw/diagnostic/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <version>1.1</version>
        <numberOfRecords>568561</numberOfRecords>
        <records>
        <record>
        <recordSchema>info:srw/schema/1/dc</recordSchema>
        <recordPacking>xml</recordPacking>
        <recordData>
        <oclcdcs>
        <dc:contributor>National Cancer Institute Bethesda, Md.</dc:contributor>
        <dc:date>[1974]</dc:date>
        <dc:format>Getr. Zählung graph. Darst 27 cm</dc:format>
        <dc:language xsi:type="http://purl.org/dc/terms/ISO639-2">eng</dc:language>
        <dc:publisher>U.S. Dept. of Health, Education, and Welfare, Public Health Service, National Institutes of Health</dc:publisher>
        <dc:relation>DHEW publication 74-570 NIH</dc:relation>
        <dc:title>Digest of scientific recommendations for the National Cancer Program Plan</dc:title>
        <dc:type>Text</dc:type>
        <oclcterms:recordCreationDate xsi:type="http://purl.org/oclc/terms/marc008date">991109</oclcterms:recordCreationDate>
        <oclcterms:recordIdentifier>247452425</oclcterms:recordIdentifier>
        </oclcdcs>
        </recordData>
        </record>
        <record>
        <recordSchema>info:srw/schema/1/dc</recordSchema>
        <recordPacking>xml</recordPacking>
        <recordData>
        <oclcdcs>
        <dc:contributor>Society for the Prevention and Relief of Cancer (London, England)</dc:contributor>
        <dc:date>1913-1922</dc:date>
        <dc:format>2 v.</dc:format>
        <dc:language xsi:type="http://purl.org/dc/terms/ISO639-2">eng</dc:language>
        <dc:publisher>Society for the Prevention and Relief of Cancer</dc:publisher>
        <dc:subject xsi:type="http://purl.org/dc/terms/MESH">Society for the Prevention and Relief of Cancer (London, England)</dc:subject>
        <dc:subject xsi:type="http://purl.org/dc/terms/MESH">Medical Oncology--Periodicals.</dc:subject>
        <dc:subject xsi:type="http://purl.org/dc/terms/MESH">Neoplasms--Periodicals.</dc:subject>
        <dc:title>Journal of cancer.</dc:title>
        <dc:title>Journal of cancer (Society for the Prevention and Relief of Cancer (London, England))</dc:title>
        <dc:type>Text</dc:type>
        <oclcterms:recordCreationDate xsi:type="http://purl.org/oclc/terms/marc008date">011214</oclcterms:recordCreationDate>
        <oclcterms:recordIdentifier xsi:type="http://purl.org/oclc/terms/lccn">  2005243329</oclcterms:recordIdentifier>
        <oclcterms:recordIdentifier>48616757</oclcterms:recordIdentifier>
        </oclcdcs>
        </recordData>
        </record>
        </records>
        <nextRecordPosition>10001</nextRecordPosition>
        <resultSetIdleTime/>
        <echoedSearchRetrieveRequest xmlns:srw="http://www.loc.gov/zing/srw/">
        <version>1.1</version>
        <query>srw.kw = "cancer"</query>
        <maximumRecords>2</maximumRecords>
        <recordSchema>info:srw/schema/1/dc</recordSchema>
        <recordPacking>xml</recordPacking>
        <startRecord>9999</startRecord>
        <sortKeys>relevance</sortKeys>
        <wskey>DUMMY_API_KEY</wskey>
        </echoedSearchRetrieveRequest>
        </searchRetrieveResponse>
  recorded_at: Mon, 21 Sep 2015 14:48:07 GMT
recorded_with: VCR 2.9.3
