---
http_interactions:
- request:
    method: get
    uri: http://www.worldcat.org/webservices/catalog/search/sru?maximumRecords=10&query=srw.au%20=%20%22Noam%22%20AND%20srw.au%20=%20%22Chomsky%22%20AND%20%20srw.ti%20=%20%22Manufacturing%20Consent%22&recordSchema=info:srw/schema/1/dc&wskey=DUMMY_API_KEY
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="no"?>
        <?xml-stylesheet type='text/xsl' href='/webservices/catalog/xsl/searchRetrieveResponse.xsl'?>

        <searchRetrieveResponse xmlns="http://www.loc.gov/zing/srw/" xmlns:oclcterms="http://purl.org/oclc/terms/" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:diag="http://www.loc.gov/zing/srw/diagnostic/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <version>1.1</version>
        <numberOfRecords>55</numberOfRecords>
        <records>
        <record>
        <recordSchema>info:srw/schema/1/dc</recordSchema>
        <recordPacking>xml</recordPacking>
        <recordData>
        <oclcdcs>
        <dc:description>Not rated by MPAA.</dc:description>
        <dc:contributor>Chomsky, Noam,</dc:contributor>
        <dc:contributor>Achbar, Mark,</dc:contributor>
        <dc:contributor>Wintonick, Peter,</dc:contributor>
        <dc:contributor>Neale, Colin,</dc:contributor>
        <dc:contributor>Murphy, Dennis R.,</dc:contributor>
        <dc:contributor>Symansky, Adam,</dc:contributor>
        <dc:contributor>Herman, Edward S.,</dc:contributor>
        <dc:contributor>Moyers, Bill D.,</dc:contributor>
        <dc:contributor>Jennings, Peter, 1938-2005,</dc:contribu[...]
- request:
    method: get
    uri: http://www.worldcat.org/webservices/catalog/search/sru?maximumRecords=10&query=srw.au%20=%20%22Noam%22%20AND%20srw.au%20=%20%22Chomsky%22%20AND%20%20srw.ti%20=%20%22Manufacturing%22%20AND%20srw.ti%20=%20%22Consent%22&recordSchema=info:srw/schema/1/dc&wskey=DUMMY_API_KEY
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    bo[...]
- request:
    method: get
    uri: http://www.worldcat.org/webservices/catalog/search/sru?maximumRecords=10&query=srw.au%20=%20%22Noam%22%20AND%20srw.au%20=%20%22Chomsky%22%20AND%20%20srw.ti%20=%20%22Manufacturing%22&recordSchema=info:srw/schema/1/dc&wskey=DUMMY_API_KEY
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      str[...]
- request:
    method: get
    uri: http://www.worldcat.org/webservices/catalog/search/sru?maximumRecords=10&query=srw.au%20=%20%22Chomsky%22%20AND%20%20srw.ti%20=%20%22Manufacturing%22&recordSchema=info:srw/schema/1/dc&wskey=DUMMY_API_KEY
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.[...]
- request:
    method: get
    uri: http://www.worldcat.org/webservices/catalog/search/sru?maximumRecords=10&query=srw.au%20=%20%22Chomsky%22%20AND%20srw.ti%20=%20%22Manufacturing%22&recordSchema=info:srw/schema/1/dc&wskey=DUMMY_API_KEY
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" [...]
