---
http_interactions:
- request:
    method: get
    uri: http://www.worldcat.org/webservices/catalog/search/sru?maximumRecords=10&query=srw.kw%20=%20%22anarchism%22&recordSchema=info:srw/schema/1/dc&wskey=DUMMY_API_KEY
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="no"?>
        <?xml-stylesheet type='text/xsl' href='/webservices/catalog/xsl/searchRetrieveResponse.xsl'?>

        <searchRetrieveResponse xmlns="http://www.loc.gov/zing/srw/" xmlns:oclcterms="http://purl.org/oclc/terms/" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:diag="http://www.loc.gov/zing/srw/diagnostic/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <version>1.1</version>
        <numberOfRecords>32566</numberOfRecords>
        <records>
        <record>
        <recordSchema>info:srw/schema/1/dc</recordSchema>
        <recordPacking>xml</recordPacking>
        <recordData>
        <oclcdcs>
        <dc:contributor>Pennock, J. Roland (James Roland), 1906-1995.</dc:contributor>
        <dc:contributor>Chapman, John W. (John William), 1923-</dc:contributor>
        <dc:contributor>Paul Avrich Collection (Library of Congress)</dc:contributor>
        <dc:date>1978</dc:date>
        <dc:description>Anarchism and political philosophy : an introduction / Gerald F. Gaus and John W. Chapman -- What is anarchism? / John P. Clark -- A contractarian perspective on anarchy / James M. Buchanan -- Nozick's anarchism / Eric Mack -- Anarchism and world order / Richard A. Falk -- Anarchism and authority / Richard T. De George -- Comments on "Anarchism and authority" / Richard Wasserstrom -- Anarchism and skepticism / Rex Martin -- The anarchist justification of authority / Alan Ritter -- Disrespect for law / Lester J. Mazor -- The profoundest respect for law : Mazor's Anarchy and the political association / Lisa Newton -- Disrespect for law and the case for anarchy / Alan Wertheimer -- Society without state / Murray N. Rothbard -- Some reflections on arbitrating our way to anarchy / Chistopher D. Stone -- Anarchist justice / David Wieck -- The dimensions of anarchy / Donald McIntosh -- Philosophical anarchism revisited / Grenville Wall -- On the "Kantian" foundations of Robert Paul Wolff's anarchism / Partrick Riley -- Anarchism and violence / April Carter.</dc:description>
        <dc:format>xlv, 375 pages ; 22 cm.</dc:format>
        <dc:identifier>0814765726</dc:identifier>
        <dc:identifier>9780814765722</dc:identifier>
        <dc:language xsi:type="http://purl.org/dc/terms/ISO639-2">eng</dc:language>
        <dc:publisher>New York University Press</dc:publisher>
        <dc:relation>Nomos ; 19</dc:relation>
        <dc:subject xsi:type="http://purl.org/dc/terms/LCSH">Anarchism.</dc:subject>
        <dc:title>Anarchism </dc:title>
        <dc:type>Text</dc:type>
        <oclcterms:recordCreationDate xsi:type="http://purl.org/oclc/terms/marc008date">771213</oclcterms:recordCreationDate>
        <oclcterms:recordIdentifier xsi:type="http://purl.org/oclc/terms/lccn">   77084158 </oclcterms:recordIdentifier>
        <oclcterms:recordIdentifier>3540542</oclcterms:recordIdentifier>
        </oclcdcs>
        </recordData>
        </record>
        <record>
        <recordSchema>info:srw/schema/1/dc</recordSchema>
        <recordPacking>xml</recordPacking>
        <recordData>
        <oclcdcs>
        <dc:contributor>Paul Avrich Collection (Library of Congress)</dc:contributor>
        <dc:creator>Hoffman, Robert Louis, 1937-</dc:creator>
        <dc:date>1970</dc:date>
        <dc:description>[1st ed.].</dc:description>
        <dc:description>What is government? / Pierre-Joseph Proudhon -- What is anarchism? / Alexander Berkman -- The place of anarchism in the history of political thought / Derry Novak -- Anarchism: what it really stands for / Emma Goldman -- An anarchist's view of democracy / Pierre-Joseph Proudhon -- Patriotism and government / Leo Tolstoy -- Essentials of anarchism /[...]
