---
http_interactions:
- request:
    method: get
    uri: http://www.journaltocs.ac.uk/api/journals/badissn?output=articles&user=nobody@example.com
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<rdf:RDF xmlns:rdf=\"http://www.w3.org/1999/02/22-rdf-syntax-ns#\"\r\n
        \        xmlns=\"http://purl.org/rss/1.0/\"\r\n         xmlns:mn=\"http://usefulinc.com/rss/manifest/\"\r\n
        \        xmlns:dc=\"http://purl.org/dc/elements/1.1/\">\n\n  <channel rdf:about=\"http://www.journaltocs.hw.ac.uk/api/journals\">\r\n
        \   <title>JournalTOCs API - Found 0 journals for: badissn (0 articles)</title>\r\n
        \   <link>http://www.journaltocs.ac.uk/api/journals/badissn</link>\r\n    <description><![CDATA[Your
        query: badissn has returned 0 articles. Table of contents is currently unavailable
        for this journal. Please report to S.Chumbe@hw.ac.uk]]></description>\r\n
        \   <dc:publisher>JournalTOCs API</dc:publisher>\r\n    <dc:creator>JOURNALTOCS
        API PROJECT</dc:creator>\r\n\t\t<dc:coverage>1</dc:coverage>\r\n    <image
        rdf:resource=\"http://www.journaltocs.ac.uk/images/jtocslogo.gif\" />\r\n
        \   <items>\r\n      <rdf:Seq>\r\n      </rdf:Seq>\r\n    </items>\r\n  </channel>\r\n
        \ \r\n\t\r\n  <rdf:Description rdf:ID=\"manifest\">\r\n    <mn:channels>\r\n
        \     <rdf:Seq>\r\n        <rdf:li rdf:resource=\"http://www.journaltocs.hw.ac.uk/api/journals\"
        />\r\n      </rdf:Seq>\r\n    </mn:channels>\r\n  </rdf:Description>\r\n\r\n</rdf:RDF>"
  recorded_at: Tue, 01 Sep 2015 21:20:10 GMT
recorded_with: VCR 2.9.3
