---
http_interactions:
- request:
    method: get
    uri: http://www.journaltocs.ac.uk/api/journals/1600-5740?output=articles&user=nobody@example.com
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<rdf:RDF xmlns:rdf=\"http://www.w3.org/1999/02/22-rdf-syntax-ns#\"
        \r\n         xmlns:prism=\"http://prismstandard.org/namespaces/1.2/basic/\"
        \r\n\t\t\t\t xmlns:dc=\"http://purl.org/dc/elements/1.1/\" \r\n\t\t\t\t xmlns:mn=\"http://usefulinc.com/rss/manifest/\"\r\n\t\t\t\t
        xmlns:content=\"http://purl.org/rss/1.0/modules/content/\" \r\n\t\t\t\t xmlns=\"http://purl.org/rss/1.0/\">\n\n
        \ <channel rdf:about=\"http://www.journaltocs.hw.ac.uk/api/journals\">\r\n
        \   <title>JournalTOCs API - Acta Crystallographica Section B: Structural
        Science, Crystal Engineering and Materials (11 articles)</title>\r\n    <link>http://www.journaltocs.ac.uk/api/journals/1600-5740</link>\r\n
        \   <description><![CDATA[Your query: 1600-5740 has returned 11 articles.
        They are listed in alphabetical order per journal (maximum number of returned
        items is 3000).]]></description>\r\n    <dc:publisher>JournalTOCs API</dc:publisher>\r\n
        \   <dc:creator>JOURNALTOCS API PROJECT</dc:creator>\r\n\t\t<dc:coverage>1</dc:coverage>\r\n
        \   <image rdf:resource=\"http://www.journaltocs.ac.uk/images/jtocslogo.gif\"
        />\r\n    <items>\r\n      <rdf:Seq><rdf:li rdf:resource=\"http://dx.doi.org/10.1107/S2052520615008422\"
        />\n<rdf:li rdf:resource=\"http://dx.doi.org/10.1107/S2052520615008859\" />\n<rdf:li
        rdf:resource=\"http://dx.doi.org/10.1107/S2052520615011191\" />\n<rdf:li rdf:resource=\"http://dx.doi.org/10.1107/S2052520615010410\"
        />\n<rdf:li rdf:resource=\"http://dx.doi.org/10.1107/S2052520615011300\" />\n<rdf:li
        rdf:resource=\"http://dx.doi.org/10.1107/S2052520615010872\" />\n<rdf:li rdf:resource=\"http://dx.doi.org/10.1107/S2052520615013505\"
        />\n<rdf:li rdf:resource=\"http://dx.doi.org/10.1107/S2052520615011312\" />\n<rdf:li
        rdf:resource=\"http://dx.doi.org/10.1107/S2052520615010203\" />\n<rdf:li rdf:resource=\"http://dx.doi.org/10.1107/S2052520615010835\"
        />\n<rdf:li rdf:resource=\"http://dx.doi.org/10.1107/S2052520615011579\" />\n\r\n
        \     </rdf:Seq>\r\n    </items>\r\n  </channel>\r\n  <item rdf:about=\"http://dx.doi.org/10.1107/S2052520615008422\">\n<title>Structural
        and energy insights on solid-state complexes with trimethoprim: a combined
        theoretical and experimental investigation</title>\r\n<link>http://scripts.iucr.org/cgi-bin/paper?dk5035</link>\r\n<description>We
        present here a new structure of a 1:1 salt of trimethoprim with hemifumarate,
        highlighted by single-crystal X-ray diffraction and computational conformational
        studies. This salt was formed during cocrystallization assays conducted to
        combine trimethoprim and other APIs whose combination exhibits interesting
        properties. Theoretical in vacuo investigations have been performed on the
        organic salt through a DFT two-dimensional conformational scan of torsion
        angles between the two aromatic moieties of trimethoprim. The evaluation of
        relative energies for hydrogen-bond interactions in the structure has also
        been performed. Comparison with conformational data from structures implying
        trimethoprim retrieved from the Cambridge Structural Database (CSD) shows
        good agreement with theoretical results, proving the validity of vacuum ab
        initio calculations in describing the energetic landscape of the molecule
        and thereby gain initial insight into the prediction process for possible
        new conformations and therefore potential new polymorphs.</description>\r\n<dc:identifier>DOI
        10.1107/S2052520615008422</dc:identifier>\r\n<dc:creator>Tilborg</dc:creator>\n<dc:creator>A.</dc:creator>\n<dc:creator>Carletta,
        \ A.</dc:creator>\n<dc:creator>Wouters,  J.</dc:creator>\n<dc:subject>trimethoprim;
        single-crystal X-ray diffraction; organic salt; ab initio conformational study;
        powder X-ray diffraction; density functional theory</dc:subject>\n<dc:date>2015-07-14</dc:date>\n<dc:publisher>International
        Union of Crystallography (IUCr)</dc:publisher>\n<prism:PublicationName>Acta
        Crystallographica Section B: Structural Science, Crystal Engineering and Materials</prism:PublicationName>\n<prism:volume>71</prism:volume>\n<prism:number>4</prism:number>\n<prism:startingPage>0</prism:startingPage>\n<prism:endingPage>0</prism:endingPage>\n<prism:publicationDate>2015-07-14</prism:publicationDate>\n<content:encoded><![CDATA[<p><a
        href=\"http://scripts.iucr.org/cgi-bin/paper?dk5035\"><b>Structural and energy
        insights on solid-state complexes with trimethoprim: a combined theoretical
        and experimental investigation</b></A><br />Tilborg A.; Carletta,  A.; Wouters,
        \ J.<br /><i>Acta Crystallographica Section B: Structural Science, Crystal
        Engineering and Materials, Vol. 71, No. 4 (2015) pp. 0 - 0</i><br />We present
        here a new structure of a 1:1 salt of trimethoprim with hemifumarate, highlighted
        by single-crystal X-ray diffraction and computational conformational studies.
        This salt was formed during cocrystallization assays conducted to combine
        trimethoprim and other API[...]
