---
http_interactions:
- request:
    method: get
    uri: http://www.journaltocs.ac.uk/api/journals/1533290X?output=articles&user=nobody@example.com
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<rdf:RDF xmlns:rdf=\"http://www.w3.org/1999/02/22-rdf-syntax-ns#\"
        \r\n         xmlns:prism=\"http://prismstandard.org/namespaces/1.2/basic/\"
        \r\n\t\t\t\t xmlns:dc=\"http://purl.org/dc/elements/1.1/\" \r\n\t\t\t\t xmlns:mn=\"http://usefulinc.com/rss/manifest/\"\r\n\t\t\t\t
        xmlns:content=\"http://purl.org/rss/1.0/modules/content/\" \r\n\t\t\t\t xmlns=\"http://purl.org/rss/1.0/\">\n\n
        \ <channel rdf:about=\"http://www.journaltocs.hw.ac.uk/api/journals\">\r\n
        \   <title>JournalTOCs API - Journal of Library &amp; Information Services
        in Distance Learning (14 articles)</title>\r\n    <link>http://www.journaltocs.ac.uk/api/journals/1533290X</link>\r\n
        \   <description><![CDATA[Your query: 1533290X has returned 14 articles. They
        are listed in alphabetical order per journal (maximum number of returned items
        is 3000).]]></description>\r\n    <dc:publisher>JournalTOCs API</dc:publisher>\r\n
        \   <dc:creator>JOURNALTOCS API PROJECT</dc:creator>\r\n\t\t<dc:coverage>1</dc:coverage>\r\n
        \   <image rdf:resource=\"http://www.journaltocs.ac.uk/images/jtocslogo.gif\"
        />\r\n    <items>\r\n      <rdf:Seq><rdf:li rdf:resource=\"http://dx.doi.org/10.1080/1533290X.2014.946350\"
        />\n<rdf:li rdf:resource=\"http://dx.doi.org/10.1080/1533290X.2014.946349\"
        />\n<rdf:li rdf:resource=\"http://dx.doi.org/10.1080/1533290X.2014.946352\"
        />\n<rdf:li rdf:resource=\"http://dx.doi.org/10.1080/1533290X.2014.946351\"
        />\n<rdf:li rdf:resource=\"http://dx.doi.org/10.1080/1533290X.2014.946347\"
        />\n<rdf:li rdf:resource=\"http://dx.doi.org/10.1080/1533290X.2014.946345\"
        />\n<rdf:li rdf:resource=\"http://dx.doi.org/10.1080/1533290X.2014.946343\"
        />\n<rdf:li rdf:resource=\"http://dx.doi.org/10.1080/1533290X.2014.946335\"
        />\n<rdf:li rdf:resource=\"http://dx.doi.org/10.1080/1533290X.2014.945877\"
        />\n<rdf:li rdf:resource=\"http://dx.doi.org/10.1080/1533290X.2014.946355\"
        />\n<rdf:li rdf:resource=\"http://dx.doi.org/10.1080/1533290X.2014.946356\"
        />\n<rdf:li rdf:resource=\"http://dx.doi.org/10.1080/1533290X.2014.946358\"
        />\n<rdf:li rdf:resource=\"http://dx.doi.org/10.1080/1533290X.2014.946353\"
        />\n<rdf:li rdf:resource=\"http://dx.doi.org/10.1080/1533290X.2014.946354\"
        />\n\r\n      </rdf:Seq>\r\n    </items>\r\n  </channel>\r\n  <item rdf:about=\"http://dx.doi.org/10.1080/1533290X.2014.946350\">\n<title>Massive
        Open Online Librarianship: Emerging Practices in Response to MOOCs</title>\r\n<link>http://www.tandfonline.com/doi/full/10.1080/1533290X.2014.946350?af=R</link>\r\n<description>Authors:
        Christina Mune&lt;br&gt;\nArticle URL: http://www.tandfonline.com/doi/full/10.1080/1533290X.2014.946350?af=R&lt;br&gt;\nCitation:
        Journal of Library &amp;amp; Information Services in Distance Learning&lt;br&gt;\nPublication
        Date: Thu, 16 Apr 2015 19:21:03 GMT&lt;br&gt;\nJournal: Journal of Library
        &amp;amp; Information Services in Distance Learning</description>\r\n<dc:identifier>DOI
        10.1080/1533290X.2014.946350</dc:identifier>\r\n<dc:creator>Christina Mune</dc:creator>\n<dc:publisher>Taylor
        &amp; Francis</dc:publisher>\n<prism:PublicationName>Journal of Library &amp;
        Information Services in Distance Learning</prism:PublicationName>\n<prism:volume>9</prism:volume>\n<prism:number>1-2</prism:number>\n<prism:startingPage>89</prism:startingPage>\n<prism:endingPage>100</prism:endingPage>\n<prism:publicationDate>Thu,
        16 Apr 2015 19:21:03 GMT</prism:publicationDate>\n<content:encoded><![CDATA[<p><a
        href=\"http://www.tandfonline.com/doi/full/10.1080/1533290X.2014.946350?af=R\"><b>Massive
        Open Online Librarianship: Emerging Practices in Response to MOOCs</b></A><br
        />Christina Mune <br /><i>Journal of Library &amp; Information Services in
        Distance Learning, Vol. 9, No. 1-2 (2015) pp. 89 - 100</i><br />Authors: Christina
        Mune\nArticle URL: http://www.tandfonline.com/doi/full/10.1080/1533290X.2014.946350?af=R\nCitation:
        Journal of Library &amp;amp; Information Services in Distance Learning\nPublication
        Date: Thu, 16 Apr 2015 19:21:03 GMT\nJournal: Journal of Library &amp;amp;
        Information Services in Distance Learning</p>]]></content:encoded>\r\n</item>\n<item
        rdf:about=\"http://dx.doi.org/10.1080/1533290X.2014.946349\">\n<title>It Takes
        a Village to Design a Course: Embedding a Librarian in Course Design</title>\r\n<link>http://www.tandfonline.com/doi/full/10.1080/1533290X.2014.946349?af=R</link>\r\n<description>Authors:
        Alex Mudd ; Terri Summey ; Matt Upson&lt;br&gt;\nArticle URL: http://www.tandfonline.com/doi/full/10.1080/1533290X.2014.946349?af=R&lt;br&gt;\nCitation:
        Journal of Library &amp;amp; Information Services in Distanc[...]
