---
http_interactions:
- request:
    method: get
    uri: http://www.journaltocs.ac.uk/api/journals/0026-2617?output=articles&user=nobody@example.com
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<rdf:RDF xmlns:rdf=\"http://www.w3.org/1999/02/22-rdf-syntax-ns#\"
        \r\n         xmlns:prism=\"http://prismstandard.org/namespaces/1.2/basic/\"
        \r\n\t\t\t\t xmlns:dc=\"http://purl.org/dc/elements/1.1/\" \r\n\t\t\t\t xmlns:mn=\"http://usefulinc.com/rss/manifest/\"\r\n\t\t\t\t
        xmlns:content=\"http://purl.org/rss/1.0/modules/content/\" \r\n\t\t\t\t xmlns=\"http://purl.org/rss/1.0/\">\n\n
        \ <channel rdf:about=\"http://www.journaltocs.hw.ac.uk/api/journals\">\r\n
        \   <title>JournalTOCs API - Microbiology (20 articles)</title>\r\n    <link>http://www.journaltocs.ac.uk/api/journals/0026-2617</link>\r\n
        \   <description><![CDATA[Your query: 0026-2617 has returned 20 articles.
        They are listed in alphabetical order per journal (maximum number of returned
        items is 3000).]]></description>\r\n    <dc:publisher>JournalTOCs API</dc:publisher>\r\n
        \   <dc:creator>JOURNALTOCS API PROJECT</dc:creator>\r\n\t\t<dc:coverage>1</dc:coverage>\r\n
        \   <image rdf:resource=\"http://www.journaltocs.ac.uk/images/jtocslogo.gif\"
        />\r\n    <items>\r\n      <rdf:Seq><rdf:li rdf:resource=\"http://link.springer.com/10.1134/S0026261715040128\"
        />\n<rdf:li rdf:resource=\"http://link.springer.com/10.1134/S0026261715040098\"
        />\n<rdf:li rdf:resource=\"http://link.springer.com/10.1134/S0026261715040165\"
        />\n<rdf:li rdf:resource=\"http://link.springer.com/10.1134/S002626171504013X\"
        />\n<rdf:li rdf:resource=\"http://link.springer.com/10.1134/S0026261715040086\"
        />\n<rdf:li rdf:resource=\"http://link.springer.com/10.1134/S00262617150[...]
